<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vyiyun.common.weixin.dao.AbsentMapper">

	<resultMap id="result" type="Absent">
		<result property="id" column="ID" />
		<result property="corpId" column="CorpId" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="absentType" column="AbsentType" />
		<result property="reason" column="Reason" />
		<result property="position" column="Position" />
		<result property="department" column="Department" />
		<result property="beginTime" column="BeginTime" jdbcType="TIMESTAMP" />
		<result property="endTime" column="EndTime" jdbcType="TIMESTAMP" />
		<result property="createTime" column="CreateTime" jdbcType="TIMESTAMP" />
		<result property="status" column="Status" />
	</resultMap>

	<!-- 添加请假记录 -->
	<insert id="addAbsent" parameterType="java.util.List">
		INSERT INTO tb_absent
		(ID,CorpId,UserID,UserName,AbsentType,Reason,Position,Department,BeginTime,EndTime,CreateTime,Status)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.corpId},#{item.userId},#{item.userName},#{item.absentType},#{item.reason},#{item.position},#{item.department},#{item.beginTime,jdbcType=TIMESTAMP},
			#{item.endTime,jdbcType=TIMESTAMP},#{item.createTime,jdbcType=TIMESTAMP},#{item.status})
		</foreach>
	</insert>

	<!-- 获取请假信息 -->
	<select id="getAbsent" resultMap="result">
		SELECT * FROM absenttb_absent
		<where>
			<if test="id != null">
				ID = #{id}
			</if>
			<if test="corpId != null">
				CorpId = #{corpId}
			</if>
			<if test="userId != null">
				and UserID = #{userId}
			</if>
			<if test="userName != null">
				and UserName = #{userName}
			</if>
			<if test="absentType != null">
				and AbsentType = #{absentType}
			</if>
			<if test="reason != null">
				and Reason = #{reason}
			</if>
			<if test="position != null">
				and Position = #{position}
			</if>
			<if test="department != null">
				and Department = #{department}
			</if>
			<if test="beginTime != null">
				and BeginTime = #{beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				and EndTime = #{endTime,,jdbcType=TIMESTAMP}
			</if>
			<if test="createTime != null">
				and CreateTime = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				and Status = #{status}
			</if>
		</where>
	</select>
	<!-- 分页条件sql -->
	<sql id="selectAbsentByQueryCriteriaSql">
		FROM tb_absent tb
		<where>
			1 = 1
			<if test="parameter.id != null">
				and ID = #{parameter.id}
			</if>
			<if test="parameter.corpId != null">
				and CorpId = #{parameter.corpId}
			</if>
			<if test="parameter.userId != null">
				and UserID = #{parameter.userId}
			</if>
			<if test="parameter.userName != null">
				and UserName = #{parameter.userName}
			</if>
			<if test="parameter.absentType != null">
				and AbsentType = #{parameter.absentType}
			</if>
			<if test="parameter.reason != null">
				and Reason = #{parameter.reason}
			</if>
			<if test="parameter.position != null">
				and Position = #{parameter.position}
			</if>
			<if test="parameter.department != null">
				and Department = #{parameter.department}
			</if>
			<if test="parameter.beginTime != null">
				and BeginTime = #{parameter.beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.endTime != null">
				and EndTime = #{parameter.endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.createTime != null">
				and CreateTime =
				#{parameter.createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.status != null and parameter.status != ''">
				and (Status = #{parameter.status} <if test="parameter.status ==3"> or Status = '-1'</if>) 
			</if>
			<if test="keyValMap.status != null and keyValMap.status != ''">
				and Status = #{keyValMap.status}
			</if>
			<if test="keyValMap.startDate != null">
			    and date(CreateTime) &gt;= date(#{keyValMap.startDate})
			</if>
			<if test="keyValMap.endDate != null">
				and date(CreateTime) &lt;= date(#{keyValMap.endDate})
			</if>
			<if test="keyValMap.userNameLike != null and keyValMap.userNameLike != ''">
			and UserName LIKE CONCAT(CONCAT('%',#{keyValMap.userNameLike }), '%')
			</if>
		</where>
	</sql>

	<!-- 分页查询数据 -->
	<select id="queryAuditRecord" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT absent.* from tb_absent absent,tb_entity_account entity_account
		where absent.ID = entity_account.EntityID
		and entity_account.EntityType = '1' <!-- 请假 -->
		and entity_account.PersonType = '0'  <!-- 审核 and entity_account.Invalid = false -->
		<if test="keyValMap.userId != null ">
			and entity_account.AccountID = '${keyValMap.userId}'
		</if>
		-- 微依云 公共应用 CorpId追加修正2016-01-04 By zb.shen start.
		<if test="keyValMap.corpId != null ">
			and entity_account.CorpId = '${keyValMap.corpId}'
		</if>
		-- 微依云 公共应用 CorpId追加修正2016-01-04 By zb.shen end.
		<!-- 操作类型 -->
		<if test="keyValMap.operationType != null ">
			<if test="keyValMap.operationType == 0 ">
				and entity_account.DealResult = '0'  <!-- 待审核 -->
			</if>
			<if test="keyValMap.operationType == 1 ">
				and entity_account.DealResult &lt;&gt; '0'  <!-- 已审核 -->
			</if>
		</if>
		ORDER BY absent.CreateTime desc
	</select>
	
	
	<!-- 查询审批记录 审核人 抄送人 -->
	<select id="getAbsentCcRecord" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT absent.* from tb_absent absent,tb_entity_account entity_account
		where 
		absent.ID = entity_account.EntityID
		-- 微依云 公共应用 CorpId追加修正2016-01-04 By zb.shen start.
		<if test="keyValMap.corpId != null and keyValMap.corpId != ''">
		and absent.CorpId = #{keyValMap.corpId}
		</if>
		-- 微依云 公共应用 CorpId追加修正2016-01-04 By zb.shen end.
		and absent.Status &lt;&gt; '0'
		and entity_account.EntityType = '1' <!-- 请假 -->
		and entity_account.PersonType = '1'  <!-- 抄送 -->
		and entity_account.Invalid = false  <!-- 数据有效 -->
		and entity_account.AccountID = '${keyValMap.userId}' <!-- 当前用户 -->
		<!-- 已通过 -->
		<if test="keyValMap.status==0">
		    and absent.Status = '3'
		</if>
		<!-- 未通过 -->
		<if test="keyValMap.status==1">
		    and absent.Status in ('1','-1','2')
		</if>
		<if test="keyValMap.userNameLike != null">
		    and absent.UserName LIKE CONCAT(CONCAT('%', #{keyValMap.userNameLike}), '%')
		</if>
		<if test="keyValMap.createDate != null">
		    and Date(absent.CreateTime) = Date(#{keyValMap.createDate,jdbcType=TIMESTAMP})
		</if>
		<!-- 操作类型 -->
		ORDER BY absent.CreateTime desc
	</select>
	
	<!-- 分页查询数据 -->
	<select id="queryAbsentByPage" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT *
		<include refid="selectAbsentByQueryCriteriaSql" />
		<if test="keyValMap.orderBy != null">
			ORDER BY ${keyValMap.orderBy}
		</if>
	</select>
	<!-- 查询总数 -->
	<select id="queryAbsentCount" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultType="long">
		SELECT count(tb.id)
		<include refid="selectAbsentByQueryCriteriaSql" />
	</select>
	<!-- 根据id获取请假信息 -->
	<select id="getAbsentById" parameterType="string" resultMap="result">
		SELECT * FROM tb_absent
		WHERE ID = #{id}
	</select>

	<delete id="deleteAbsentById" parameterType="string">
		DELETE FROM tb_absent
		WHERE ID = #{id}
	</delete>
	<!-- 更新 -->
	<update id="updateAbsent" parameterType="Absent">
		UPDATE tb_absent
		<set>
			<if test="userId != null ">UserID = #{userId},</if>
			<if test="userName != null ">UserName = #{userName},</if>
			<if test="absentType != null ">AbsentType = #{absentType},</if>
			<if test="reason != null ">Reason = #{reason},</if>
			<if test="position != null ">Position = #{position},</if>
			<if test="department != null ">Department = #{department},</if>
			<if test="beginTime != null ">BeginTime = #{beginTime,jdbcType=TIMESTAMP},</if>
			<if test="endTime != null ">EndTime = #{endTime,jdbcType=TIMESTAMP},</if>
			<if test="createTime != null ">CreateTime = #{createTime,jdbcType=TIMESTAMP},</if>
			<if test="status != null ">Status = #{status}</if>
		</set>
		WHERE ID = #{id}
	</update>

	<!-- 根据条件删除请假记录 -->
	<delete id="deleteRelatedRecord" parameterType="Absent">
		DELETE FROM tb_absent
		WHERE 1 = 1
		<if test="corpId != null and corpId != ''"> and CorpId = #{corpId}</if>
		<if test="absentType != null and absentType != ''">and AbsentType = #{absentType}</if>
	</delete>
</mapper>