<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vyiyun.common.weixin.dao.ApproversMapper">
	<resultMap id="result" type="Approvers">
		<result property="id" column="ID" />
		<result property="corpId" column="CorpId" />
		<result property="entityId" column="EntityID" />
		<result property="entityType" column="EntityType" />
		<result property="accountId" column="AccountID" />
		<result property="accountName" column="AccountName" />
		<result property="accountType" column="AccountType" />
		<result property="personType" column="PersonType" />
		<result property="avatar" column="Avatar" />
		<result property="parentId" column="ParentId" />
		<result property="next" column="Next" />
	</resultMap>
	<!-- 添加审批人 -->
	<insert id="addApprovers" parameterType="java.util.List">
		INSERT INTO tb_approvers
		(ID,CorpId,EntityID,EntityType,AccountID,AccountName,AccountType,PersonType,Avatar,Next,ParentId)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.corpId},#{item.entityId},#{item.entityType},#{item.accountId},#{item.accountName},#{item.accountType},#{item.personType},#{item.avatar},#{item.next},#{item.parentId})
		</foreach>
	</insert>
	<!-- 根据id获取审批信息 -->
	<select id="getApproversById" parameterType="string" resultMap="result">
		SELECT * FROM tb_approvers where ID = #{id}
	</select>
	<select id="getApprovers" parameterType="Approvers" resultMap="result">
		SELECT * FROM tb_approvers
		<where>
			1 = 1
			<if test="id != null">
				and ID = #{id}
			</if>
			<if test="corpId != null">
				and CorpId = #{corpId}
			</if>
			<if test="entityType != null">
				and EntityType = #{entityType}
			</if>
			<if test="entityId != null">
				and EntityId = #{entityId}
			</if>
			<if test="personType != null">
				and PersonType = #{personType}
			</if>
			<if test="accountId != null">
				and AccountId = #{accountId}
			</if>
			<if test="parentId != null">
				and ParentId = #{parentId}
			</if>
			<if test="next != null">
				and Next = #{next}
			</if>
		</where>
	</select>
	<delete id="deleteApprovers" parameterType="Approvers">
		DELETE FROM tb_approvers
		<where>
			<if test="id != null">
				ID = #{id}
			</if>
			<if test="entityId != null">
				and EntityID = #{entityId}
			</if>
		</where>
	</delete>
</mapper>