<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vyiyun.common.weixin.dao.CourierMapper">

	<resultMap id="result" type="Courier">
		<result property="id" column="ID" />
		<result property="corpId" column="CorpId" />
		<result property="consigneeId" column="ConsigneeId" />
		<result property="consigneeName" column="ConsigneeName" />
		<result property="creatorId" column="CreatorId" />
		<result property="creatorName" column="CreatorName" />
		<result property="courierNum" column="CourierNum" />
		<result property="belong" column="Belong" />
		<result property="money" column="Money" jdbcType="FLOAT" />
		<result property="status" column="Status" />
		<result property="createTime" column="CreateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 添加请假记录 -->
	<insert id="addCourier" parameterType="java.util.List">
		INSERT INTO tb_courier
		(ID,CorpId,ConsigneeId,ConsigneeName,CreatorId,CreatorName,CourierNum,Belong,Money,Status,CreateTime)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.corpId},#{item.consigneeId},#{item.consigneeName},#{item.creatorId},#{item.creatorName},#{item.courierNum},#{item.belong},#{item.money,jdbcType=FLOAT},#{item.status},#{item.createTime,jdbcType=TIMESTAMP})
		</foreach>
	</insert>

	<!-- 根据id获取快递信息 -->
	<select id="getCourierById" parameterType="string" resultMap="result">
		SELECT * FROM tb_courier where ID = #{id}
	</select>
	<!-- 根据快递单号查询数据量 -->
	<select id="getCourierNumCount" parameterType="string"
		resultType="java.lang.Integer">
		SELECT count(1) FROM tb_courier where CourierNum =#{courierNum}
	</select>

	<!-- 获取请假信息 -->
	<select id="getCourier" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT * FROM tb_courier
		<where>
			<if test="parameter.id != null">
				ID = #{parameter.id}
			</if>
			<if test="parameter.corpId != null">
				CorpId = #{parameter.corpId}
			</if>
			<if test="parameter.consigneeId != null">
				and ConsigneeId = #{parameter.consigneeId}
			</if>
			<if test="parameter.consigneeName != null">
				and ConsigneeName = #{parameter.consigneeName}
			</if>

			<if test="parameter.creatorId != null">
				and CreatorId = #{parameter.creatorId}
			</if>
			<if test="parameter.status != null">
				and Status = #{parameter.status}
			</if>
		</where>
		<if test="keyValMap.orderby != null">
		  ORDER BY  ${keyValMap.orderby}
		</if>
	</select>

	<!-- 更新 -->
	<update id="updateCourier" parameterType="Courier">
		UPDATE tb_courier
		<set>
			<if test="status != null ">Status = #{status}</if>
		</set>
		WHERE ID = #{id}
	</update>
</mapper>