<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vyiyun.common.weixin.dao.ExpenseMapper">

	<resultMap id="result" type="Expense">
		<result property="id" column="ID" />
		<result property="corpId" column="CorpId" />
		<result property="userId" column="UserID" />
		<result property="userName" column="UserName" />
		<result property="theme" column="Theme" />
		<result property="department" column="Department" />
		<result property="reason" column="Reason" />
		<result property="amount" column="Amount" jdbcType="FLOAT" />
		<result property="annexCount" column="AnnexCount" jdbcType="INTEGER" />
		<result property="createTime" column="CreateTime" jdbcType="TIMESTAMP" />
		<result property="endTime" column="EndTime" jdbcType="TIMESTAMP" />
		<result property="status" column="Status" />
		<result property="expenseNum" column="ExpenseNum" />
		<result property="expenseType" column="ExpenseType" />
		<result property="actualCost" column="ActualCost" jdbcType="FLOAT" />
	</resultMap>

	<insert id="addExpense" parameterType="Expense">
		INSERT INTO tb_expense
		(ID,CorpId,UserID,ExpenseType,UserName,Theme,Department,Reason,Amount,AnnexCount,CreateTime,EndTime,Status,ExpenseNum,ActualCost)
		VALUES(#{id},#{corpId},#{userId},#{expenseType},#{userName},#{theme},#{department},#{reason},#{amount,jdbcType=FLOAT},
		#{annexCount,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{status},#{expenseNum},#{actualCost})
	</insert>

	<select id="getExpense" parameterType="Expense" resultMap="result">
		SELECT * FROM tb_expense
		<where>
			<if test="id != null ">
				ID = #{id}
			</if>
			<if test="userId != null">
				and UserID = #{userId}
			</if>
			<if test="userName != null">
				and UserName = #{userName}
			</if>
			<if test="theme != null">
				and Theme = #{theme}
			</if>
			<if test="department != null">
				and Department = #{department}
			</if>
			<if test="reason != null">
				and Reason = #{reason}
			</if>
			<if test="createTime != null">
				and CreateTime = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				and EndTime = #{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				and Status = #{status}
			</if>
		</where>
	</select>
	<!-- 根据id获取报销信息 -->
	<select id="getExpenseById" parameterType="string" resultMap="result">
		SELECT * FROM tb_expense where ID = #{id}
	</select>

	<!-- 条件sql -->
	<sql id="selectExpenseByQueryCriteriaSql">
		FROM tb_expense tb
		<where>
			1 = 1
			<if test="parameter.id != null">
				and ID = #{parameter.id}
			</if>
			<if test="parameter.corpId != null and parameter.corpId != ''">
				and CorpId = #{parameter.corpId}
			</if>
			<if test="parameter.expenseNum != null and parameter.expenseNum != ''">
				and ExpenseNum = #{parameter.expenseNum}
			</if>
			<if test="parameter.userId != null and parameter.userId != ''">
				and UserID = #{parameter.userId}
			</if>
			<if test="parameter.userName != null and parameter.userName != ''">
				and UserName = #{parameter.userName}
			</if>
			<if test="parameter.theme != null and parameter.theme != ''">
				and Theme = #{parameter.theme}
			</if>
			<if test="parameter.department != null and parameter.department != ''">
				and Department = #{parameter.department}
			</if>
			<if test="parameter.reason != null and parameter.reason != ''">
				and Reason = #{parameter.reason}
			</if>
			<if test="parameter.amount != null">
				and Amount = #{parameter.amount,jdbcType=FLOAT}
			</if>
			<if test="parameter.annexCount != null">
				and AnnexCount = #{parameter.annexCount,jdbcType=INTEGER}
			</if>
			<if test="parameter.endTime != null">
				and EndTime = #{parameter.endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.createTime != null">
				and CreateTime
				=#{parameter.createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="parameter.status != null and parameter.status != ''">
				and Status = #{parameter.status}
			</if>
			<!-- 操作类型 -->
			<if test="keyValMap.operationType != null ">
				<!-- 已报销 -->
				<if test="keyValMap.operationType == 1">
					and Status &lt;&gt; '5'
				</if>
				<!-- 未报销 -->
				<if test="keyValMap.operationType == 2">
					and Status = '5'
				</if>
			</if>
			<!-- 申请开始时间 -->
			<if test="keyValMap.startDate != null and keyValMap.startDate != ''">
				and CreateTime &gt;=
				#{keyValMap.startDate,jdbcType=TIMESTAMP}
			</if>
			<!-- 申请结束时间 -->
			<if test="keyValMap.endDate != null and keyValMap.endDate != ''">
				and CreateTime &lt;=
				#{keyValMap.endDate,jdbcType=TIMESTAMP}
			</if>
			<!-- 申请人 -->
			<if test="keyValMap.userNameLike != null and keyValMap.userNameLike != ''">
				and UserName LIKE CONCAT(CONCAT('%',
				#{keyValMap.userNameLike}), '%')
			</if>
		</where>
	</sql>
	<!-- 分页查询数据 -->
	<select id="queryExpenseAuditRecord" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT expense.* from tb_expense expense,tb_entity_account
		entity_account
		where expense.ID = entity_account.EntityID
		and
		entity_account.EntityType = '2' <!-- 报销 -->
		and entity_account.Invalid = false
		<if test="parameter.userId != null ">
			and entity_account.AccountID = '${parameter.userId}'
		</if>
		<if test="parameter.corpId != null and parameter.corpId != ''">
			and expense.CorpId = '${parameter.corpId}'
		</if>
		<!-- 操作类型 -->
		<if test="keyValMap.operationType != null ">
			<!-- 待审核 -->
			<if test="keyValMap.operationType == 1">
				and expense.Status in ('1','2')
				and entity_account.PersonType = '0' 
				<!-- 审核 -->
			</if>

			<!-- 待报销 -->
			<if test="keyValMap.operationType == 3">
				and expense.Status = '4'
				and entity_account.PersonType = '2' <!-- 审核 -->
			</if>
			and entity_account.DealResult ='0'
		</if>
		<if test="keyValMap.uNameLike != null">
			and expense.UserName LIKE CONCAT(CONCAT('%',
			#{keyValMap.uNameLike}), '%')
		</if>
		<if test="keyValMap.expenseNumLIke != null">
			and expense.ExpenseNum LIKE CONCAT(CONCAT('%',
			#{keyValMap.expenseNumLIke}), '%')
		</if>
		<if test="keyValMap.startDate != null">
			and date(expense.CreateTime) &gt;= date(#{keyValMap.startDate})
		</if>
		<if test="keyValMap.endDate != null">
			and date(expense.CreateTime) &lt;= date(#{keyValMap.endDate})
		</if>
		ORDER BY expense.CreateTime desc
	</select>


	<!-- 分页查询数据 -->
	<select id="queryExpenseByPage" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT *
		<include refid="selectExpenseByQueryCriteriaSql" />
		<if test="keyValMap.orderBy != null">
			ORDER BY ${keyValMap.orderBy}
		</if>
	</select>
	<!-- 查询总数 -->
	<select id="queryExpenseCount" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultType="long">
		SELECT count(tb.id)
		<include refid="selectExpenseByQueryCriteriaSql" />
	</select>

	<delete id="deleteExpenseById" parameterType="string">
		DELETE FROM
		tb_expense
		WHERE ID = #{id}
	</delete>

	<update id="updateExpense" parameterType="Expense">
		UPDATE tb_expense
		<set>
			<if test="userId != null ">UserID = #{userId},</if>
			<if test="userName != null ">UserName = #{userName},</if>
			<if test="theme != null ">Theme = #{theme},</if>
			<if test="department != null ">Department = #{department},</if>
			<if test="reason != null ">Reason = #{reason},</if>
			<if test="amount != null ">Amount = #{amount},</if>
			<if test="annexCount != null ">AnnexCount = #{annexCount},</if>
			<if test="createTime != null ">CreateTime = #{createTime,jdbcType=TIMESTAMP},</if>
			<if test="endTime != null ">EndTime = #{endTime,jdbcType=TIMESTAMP},</if>
			<if test="actualCost != null ">ActualCost = #{actualCost,jdbcType=FLOAT},</if>
			<if test="status != null ">Status = #{status}</if>
		</set>
		WHERE ID = #{id}
	</update>

	<!-- 通过报销类型查询报销数据 -->
	<select id="queryExpenseByCostCategory" parameterType="Map"
		resultMap="result">
		SELECT et.* FROM tb_expense et
		WHERE 1 = 1
		<if test="corpId != null and corpId != ''">
			AND CorpId = #{corpId}
		</if>
		<if test="costCategory != null and costCategory != ''">
			AND EXISTS (
			SELECT 1 FROM tb_expensefee fee
			WHERE et.ID = fee.ExpenseID
			AND et.CorpId = fee.CorpId
			AND fee.Category = #{costCategory}
			)
		</if>
	</select>

	<!-- 根据id列表删除报销信息 -->
	<delete id="deleteByIds" parameterType="java.util.List">
		DELETE FROM tb_expense WHERE ID in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- 根据id列表删除报销信息 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM tb_expense
		WHERE ID = #{id}
	</delete>
</mapper>