<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vyiyun.common.weixin.dao.MeetingRoomMapper">

	<resultMap type="MeetingRoom" id="result">
		<result property="id" column="ID" />
		<result property="corpId" column="CorpId" />
		<result property="roomName" column="RoomName" />
		<result property="capacity" column="Capacity" />
		<result property="equipment" column="Equipment" />
		<result property="address" column="Address" />
	</resultMap>

	<resultMap type="MeetingRoomVo" id="resultVo">
		<result property="MeetingRoom.id" column="ID" />
		<result property="MeetingRoom.roomName" column="RoomName" />
		<result property="MeetingRoom.capacity" column="Capacity" />
		<result property="MeetingRoom.equipment" column="Equipment" />
		<result property="MeetingRoom.address" column="Address" />
		<result property="totalTimeEquation" column="totalTime" />
	</resultMap>

	<insert id="addMeetingRoom" parameterType="MeetingRoom">
		INSERT INTO
		tb_meeting_room(ID,CorpId,RoomName,Capacity,Equipment,Address)
		VALUES(#{id},#{corpId},#{roomName},#{capacity},#{equipment},#{address})
	</insert>

	<select id="queryMeetingRoomById" parameterType="java.lang.String"
		resultMap="result">
		SELECT * FROM tb_meeting_room WHERE
		tb_meeting_room.ID
		= #{id}
	</select>

	<select id="queryAllMeetingRooms" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT * FROM tb_meeting_room
		<!-- SELECT tb_meeting_room.*,(IFNULL(tmp_final.freeTime, (UNIX_TIMESTAMP(STR_TO_DATE(#{parameter.end}, 
			'%H:%i:%s'))-UNIX_TIMESTAMP( CASE WHEN STR_TO_DATE(#{keyValMap.currentTime}, 
			'%H:%i:%s') <![CDATA[>]]> STR_TO_DATE(#{parameter.start}, '%H:%i:%s') THEN 
			STR_TO_DATE(#{keyValMap.currentTime}, '%H:%i:%s') ELSE STR_TO_DATE(#{parameter.start}, 
			'%H:%i:%s') END ))/3600)) freetime FROM tb_meeting_room LEFT JOIN ( SELECT 
			tmp_newtb.RoomID,((UNIX_TIMESTAMP(STR_TO_DATE(#{parameter.end}, '%H:%i:%s'))-UNIX_TIMESTAMP( 
			CASE WHEN STR_TO_DATE(#{keyValMap.currentTime}, '%H:%i:%s') <![CDATA[>]]> 
			STR_TO_DATE(#{parameter.start}, '%H:%i:%s') THEN STR_TO_DATE(#{keyValMap.currentTime}, 
			'%H:%i:%s') ELSE STR_TO_DATE(#{parameter.start}, '%H:%i:%s') END ))/3600-tmp_newtb.totalTime) 
			freeTime FROM ( SELECT tmp_new.RoomID, (SUM(tmp_new.totalTime1)) totalTime 
			FROM ( ( SELECT tmp_x1.* FROM (SELECT tmp_tb1.RoomID, tmp_tb1.Date, SUM((UNIX_TIMESTAMP(tmp_tb1.`End`)-UNIX_TIMESTAMP(tmp_tb1.`Start`))/3600) 
			totalTime1 FROM ( SELECT * FROM tb_meeting WHERE `Repeat` = 1 AND Date 
			<![CDATA[<>]]> #{parameter.date} AND (TO_DAYS(tb_meeting.Date) - TO_DAYS(#{parameter.date})) 
			% 7 = 0 AND `Start` <![CDATA[>=]]> STR_TO_DATE(#{keyValMap.currentTime}, 
			'%H:%i:%s') ) tmp_tb1 GROUP BY tmp_tb1.RoomID, tmp_tb1.Date ) tmp_x1 LEFT 
			JOIN (SELECT tmp_tb2.RoomID, tmp_tb2.Date, SUM((UNIX_TIMESTAMP(tmp_tb2.`End`)-UNIX_TIMESTAMP(tmp_tb2.`Start`))/3600) 
			totalTime2 FROM ( SELECT * FROM tb_meeting WHERE Date = #{parameter.date} 
			AND `Start` <![CDATA[>=]]> STR_TO_DATE(#{keyValMap.currentTime}, '%H:%i:%s') 
			) tmp_tb2 GROUP BY tmp_tb2.RoomID, tmp_tb2.Date) tmp_x2 ON tmp_x1.RoomID=tmp_x2.RoomID 
			) UNION ( SELECT tmp_x2.* FROM (SELECT tmp_tb1.RoomID, tmp_tb1.Date, SUM((UNIX_TIMESTAMP(tmp_tb1.`End`)-UNIX_TIMESTAMP(tmp_tb1.`Start`))/3600) 
			totalTime1 FROM ( SELECT * FROM tb_meeting WHERE `Repeat` = '1' AND Date 
			<![CDATA[<>]]> #{parameter.date} AND (TO_DAYS(tb_meeting.Date) - TO_DAYS(#{parameter.date})) 
			% 7 = 0 AND `Start` <![CDATA[>=]]> STR_TO_DATE(#{keyValMap.currentTime}, 
			'%H:%i:%s') ) tmp_tb1 GROUP BY tmp_tb1.RoomID, tmp_tb1.Date ) tmp_x1 RIGHT 
			JOIN (SELECT tmp_tb2.RoomID, tmp_tb2.Date, SUM((UNIX_TIMESTAMP(tmp_tb2.`End`)-UNIX_TIMESTAMP(tmp_tb2.`Start`))/3600) 
			totalTime2 FROM ( SELECT * FROM tb_meeting WHERE Date = #{parameter.date} 
			AND `Start` <![CDATA[>=]]> STR_TO_DATE(#{keyValMap.currentTime}, '%H:%i:%s') 
			) tmp_tb2 GROUP BY tmp_tb2.RoomID, tmp_tb2.Date) tmp_x2 ON tmp_x1.RoomID=tmp_x2.RoomID 
			) ) tmp_new GROUP BY tmp_new.RoomID ) tmp_newtb ) tmp_final ON tb_meeting_room.ID=tmp_final.RoomID -->
		<where>
			1 = 1
			<if test="parameter.corpId != null and parameter.corpId != ''">
				and CorpId = #{parameter.corpId}
			</if>
			<if test="parameter.roomName != null and parameter.roomName != ''">
				and RoomName LIKE CONCAT(CONCAT('%', #{parameter.roomName}), '%')
			</if>
			<if test="parameter.capacity != null">
				and Capacity = #{parameter.capacity}
			</if>
		</where>
		<if test="keyValMap.order != null">
			ORDER BY tb_meeting_room.Capacity
			<if test="(keyValMap.order == 'ASC') || (keyValMap.order == 'asc')">ASC</if>
			<if test="(keyValMap.order == 'DESC') || (keyValMap.order == 'desc')">DESC</if>
		</if>
	</select>
	<select id="getAvailableMeetingRooms" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultType="Map">
		SELECT meeting_room.ID as id,meeting_room.RoomName as
		roomName,meeting_room.Capacity as capacity,meeting_room.equipment as
		equipment,meeting.*
		from tb_meeting_room meeting_room
		LEFT JOIN (
		SELECT meeting.RoomID as roomId,meeting.Date as
		date,GROUP_CONCAT('#',meeting.`Start`,',',meeting.`End`)
		as startAndEnd
		from tb_meeting as meeting
		where
		1 = 1
		<if test="parameter.corpId != null and parameter.corpId != ''">
		and meeting.CorpId = #{parameter.corpId}
		</if>
		and (meeting.`Repeat` = '0'
		and
		date(meeting.Date)=date(#{keyValMap.date})
		)or (meeting.`Repeat` = '1'
		and (((TO_DAYS(#{keyValMap.date}) - TO_DAYS(meeting.Date)) % 7 = 0)))
		GROUP BY meeting.RoomID
		) as
		meeting
		on meeting_room.ID=meeting.RoomID
		<where>
			1 = 1
			<if test="parameter.corpId != null and parameter.corpId !=''">
				AND meeting_room.CorpId = #{parameter.corpId}
			</if>
			<if test="keyValMap.capacity != null">
				AND meeting_room.Capacity &gt;= #{keyValMap.capacity}
			</if>
			<if test="keyValMap.roomName != null">
				AND meeting_room.RoomName = #{keyValMap.roomName}
			</if>
		</where>
		<if test="keyValMap.order != null">
			ORDER BY meeting_room.Capacity
			<if test="(keyValMap.order == 'ASC') || (keyValMap.order == 'asc')">ASC</if>
			<if test="(keyValMap.order == 'DESC') || (keyValMap.order == 'desc')">DESC</if>
		</if>
	</select>
	<select id="queryAvailableMeetingRooms" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="resultVo">
		SELECT
			MAIN_TBL.*,
			IF(HOUR_TBL.OccupiedHour IS NULL, #{keyValMap.totalTimeEquation}, #{keyValMap.totalTimeEquation} - HOUR_TBL.OccupiedHour) totalTime
		FROM
			(
				SELECT * FROM `tb_meeting_room`
				WHERE 1 = 1
				<if test="parameter.corpId != null and parameter.corpId != ''">
				AND `CorpId` = '#{keyValMap.corpId}'
				</if>
				<if test="keyValMap.roomName != null and keyValMap.roomName != ''">
				AND `RoomName` = '#{keyValMap.roomName}'
				</if>
				<if test="keyValMap.capacity != null">
				AND `capacity` = #{keyValMap.capacity}
				</if>
			) MAIN_TBL
			LEFT JOIN
			(
				SELECT `tb_meeting`.*, SUM( UNIX_TIMESTAMP(`End`) - UNIX_TIMESTAMP(`Start`) ) / 3600 AS OccupiedHour FROM `tb_meeting`
				WHERE 1 = 1
				<if test="parameter.corpId != null and parameter.corpId != ''">
				AND `CorpId` = '#{keyValMap.corpId}'
				</if>
				<if test="keyValMap.roomName != null and keyValMap.roomName != ''">
				AND `RoomName` = '#{keyValMap.roomName}'
				</if>
				AND (`Date` = #{keyValMap.date, jdbcType=DATE} OR (DATEDIFF(#{keyValMap.date, jdbcType=DATE}, `Date`) % 7 = 0 AND `Repeat` = '1'))
				GROUP BY `RoomID`
			) HOUR_TBL ON MAIN_TBL.`ID` = HOUR_TBL.`RoomID`
		<where>
			totalTime &gt;= 0.5
		</where>
		GROUP BY MAIN_TBL.ID
		<if test="keyValMap.order != null">
			ORDER BY MAIN_TBL.Capacity
			<if test="(keyValMap.order == 'ASC') || (keyValMap.order == 'asc')">ASC</if>
			<if test="(keyValMap.order == 'DESC') || (keyValMap.order == 'desc')">DESC</if>
		</if>
	</select>

	<select id="queryAllMeetingRoomsOfTheDay" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="resultVo">
		SELECT
		tb_tb.*
		FROM
		(
		SELECT
		tmptbtb1.*, IFNULL(
		tmptbtb2.totalTime,
		#{keyValMap.totalTimeEquation}
		) totalTime
		FROM
		tb_meeting_room
		tmptbtb1
		LEFT JOIN (
		SELECT
		tmptb3.ID,
		(
		tmptb3.totalTime -
		IFNULL(tmptb3.RepeatTime, 0)
		) totalTime
		FROM
		(
		SELECT
		tmptb1.*,
		tmptb2.RepeatTime
		FROM
		(
		SELECT
		tb_meeting_room.*, temp1.totalTime
		FROM
		tb_meeting_room,
		(
		SELECT
		tb_meeting.RoomID,
		tb_meeting.RoomName,
		tb_meeting.Date,
		(
		#{keyValMap.totalTimeEquation} - (
		SUM(
		UNIX_TIMESTAMP(tb_meeting.`End`) - UNIX_TIMESTAMP(
		tb_meeting.`Start`
		)
		) / 3600
		)
		) totalTime
		FROM
		tb_meeting
		WHERE
		tb_meeting.Date = #{keyValMap.date}
		GROUP BY
		tb_meeting.RoomID,
		tb_meeting.Date
		) temp1
		WHERE
		tb_meeting_room.ID = temp1.RoomID
		)
		tmptb1
		LEFT JOIN (
		SELECT
		tempNew1.RoomID,
		SUM(
		UNIX_TIMESTAMP(tempNew1.`End`) - UNIX_TIMESTAMP(tempNew1.`Start`)
		) /
		3600 RepeatTime
		FROM
		(
		SELECT
		*
		FROM
		tb_meeting tb1
		WHERE
		(
		(
		TO_DAYS(
		str_to_date(#{keyValMap.date}, '%Y-%m-%d')
		) - TO_DAYS(tb1.Date)
		) % 7 =
		0
		)
		AND tb1.Date != str_to_date(#{keyValMap.date}, '%Y-%m-%d')
		AND
		tb1.`Repeat` = '1'
		) tempNew1
		GROUP BY
		tempNew1.RoomID
		) tmptb2 ON
		tmptb1.ID = tmptb2.RoomID
		) tmptb3
		GROUP BY
		tmptb3.ID
		) tmptbtb2 ON
		tmptbtb1.ID = tmptbtb2.ID
		) tb_tb
		<where>
			<if test="keyValMap.capacity != null">
				AND
				tb_tb.Capacity &gt;= #{keyValMap.capacity}
			</if>
			<if test="keyValMap.roomName != null">
				AND
				tb_tb.RoomName = #{keyValMap.roomName}
			</if>
		</where>
		<if test="keyValMap.order != null">
			ORDER BY tb_tb.Capacity
			<if test="(keyValMap.order == 'ASC') || (keyValMap.order == 'asc')">ASC</if>
			<if test="(keyValMap.order == 'DESC') || (keyValMap.order == 'desc')">DESC</if>
		</if>
	</select>

	<select id="queryMeetingRoomsByParameter" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultMap="result">
		SELECT * FROM tb_meeting_room
		<where>
			<if test="parameter != null">
				<if test="parameter.id != null">AND ID = #{parameter.id}</if>
				<if test="parameter.roomName != null">AND RoomName = #{parameter.roomName}</if>
				<if test="parameter.capacity != null">AND Capacity = #{parameter.capacity}</if>
				<if test="parameter.equipment != null">AND Equipment = #{parameter.equipment}</if>
				<if test="parameter.address != null">AND Address = #{parameter.address}</if>
			</if>
		</where>
		<if test="keyValMap.order != null">
			ORDER BY Capacity
			<if test="(keyValMap.order == 'ASC') || (keyValMap.order == 'asc')">ASC</if>
			<if test="(keyValMap.order == 'DESC') || (keyValMap.order == 'desc')">DESC</if>
		</if>
	</select>

	<!-- 返回的时间单位为·秒 -->
	<select id="queryMeetingRoomFreeTime" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultType="long">
		SELECT
		TRUNCATE((#{keyValMap.totalTimeEquation}*3600 -
		SUM(UNIX_TIMESTAMP(meeting.`End`)-UNIX_TIMESTAMP(meeting.`Start`))),0)
		freeTime
		FROM
		tb_meeting meeting
		WHERE
		meeting.Date = #{parameter.date}
		AND meeting.RoomID =
		#{parameter.roomId}
	</select>

	<delete id="deleteMeetingRoomById" parameterType="java.lang.String">
		DELETE
		FROM
		tb_meeting_room WHERE tb_meeting_room.ID =
		#{id}
	</delete>

	<delete id="deleteMeetingRoomsByIds" parameterType="java.util.List">
		DELETE FROM tb_meeting_room WHERE tb_meeting_room.ID
		in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updateMeetingRoom" parameterType="MeetingRoom">
		UPDATE tb_meeting_room
		<set>
			<if test="roomName != null">RoomName = #{roomName},</if>
			<if test="capacity != null">Capacity = #{capacity},</if>
			<if test="equipment != null">Equipment = #{equipment},</if>
			<if test="address != null">Address = #{address}</if>
		</set>
		WHERE ID = #{id}
	</update>

	<!-- 选出所有的会议室总数 -->
	<select id="queryALLMeetingRoomsCount" resultType="int">
		SELECT
		COUNT(1) FROM tb_meeting_room
	</select>

	<!-- 选出当天空闲的会议室总数 -->
	<select id="queryAvailableMeetingRoomsCount" parameterType="com.vyiyun.weixin.model.SqlQueryParameter"
		resultType="int">
		SELECT COUNT(1) FROM (
		SELECT
		tb_tb.ID
		FROM
		(
		SELECT
		tmptbtb1.*, IFNULL(
		tmptbtb2.totalTime,
		#{keyValMap.totalTimeEquation}
		) totalTime
		FROM
		tb_meeting_room tmptbtb1
		LEFT JOIN (
		SELECT
		tmptb3.ID,
		(
		tmptb3.totalTime - IFNULL(tmptb3.RepeatTime, 0)
		) totalTime
		FROM
		(
		SELECT
		tmptb1.*, tmptb2.RepeatTime
		FROM
		(
		SELECT
		tb_meeting_room.*,
		temp1.totalTime
		FROM
		tb_meeting_room,
		(
		SELECT
		tb_meeting.RoomID,
		tb_meeting.RoomName,
		tb_meeting.Date,
		(
		#{keyValMap.totalTimeEquation} - (
		SUM(
		UNIX_TIMESTAMP(tb_meeting.`End`) - UNIX_TIMESTAMP(
		tb_meeting.`Start`
		)
		) / 3600
		)
		) totalTime
		FROM
		tb_meeting
		WHERE
		tb_meeting.Date = #{keyValMap.date}
		GROUP BY
		tb_meeting.RoomID,
		tb_meeting.Date
		) temp1
		WHERE
		tb_meeting_room.ID = temp1.RoomID
		)
		tmptb1
		LEFT JOIN (
		SELECT
		tempNew1.RoomID,
		SUM(
		UNIX_TIMESTAMP(tempNew1.`End`) - UNIX_TIMESTAMP(tempNew1.`Start`)
		) /
		3600 RepeatTime
		FROM
		(
		SELECT
		*
		FROM
		tb_meeting tb1
		WHERE
		(
		(
		TO_DAYS(
		str_to_date(#{keyValMap.date}, '%Y-%m-%d')
		) - TO_DAYS(tb1.Date)
		) % 7
		=0
		)
		AND tb1.Date != str_to_date(#{keyValMap.date}, '%Y-%m-%d')
		AND
		tb1.`Repeat` = '1'
		) tempNew1
		GROUP BY
		tempNew1.RoomID
		) tmptb2 ON
		tmptb1.ID = tmptb2.RoomID
		) tmptb3
		GROUP BY
		tmptb3.ID
		) tmptbtb2 ON
		tmptbtb1.ID = tmptbtb2.ID
		) tb_tb
		<where>
			tb_tb.totalTime &gt;= 0.5
			<if test="keyValMap.capacity != null">
				AND
				tb_tb.Capacity &gt;= #{keyValMap.capacity}
			</if>
			<if test="keyValMap.roomName != null">
				AND
				tb_tb.RoomName = #{keyValMap.roomName}
			</if>
		</where>
		) tmp0
	</select>

	<!-- 选出当天所有的会议室总数 -->
	<select id="queryAllMeetingRoomsOfTheDayCount"
		parameterType="com.vyiyun.weixin.model.SqlQueryParameter" resultType="int">
		SELECT COUNT(1) FROM (
		SELECT
		tb_tb.*
		FROM
		(
		SELECT
		tmptbtb1.*, IFNULL(
		tmptbtb2.totalTime,
		#{keyValMap.totalTimeEquation}
		) totalTime
		FROM
		tb_meeting_room tmptbtb1
		LEFT JOIN (
		SELECT
		tmptb3.ID,
		(
		tmptb3.totalTime - IFNULL(tmptb3.RepeatTime, 0)
		) totalTime
		FROM
		(
		SELECT
		tmptb1.*, tmptb2.RepeatTime
		FROM
		(
		SELECT
		tb_meeting_room.*,
		temp1.totalTime
		FROM
		tb_meeting_room,
		(
		SELECT
		tb_meeting.RoomID,
		tb_meeting.RoomName,
		tb_meeting.Date,
		(
		#{keyValMap.totalTimeEquation} - (
		SUM(
		UNIX_TIMESTAMP(tb_meeting.`End`) - UNIX_TIMESTAMP(
		tb_meeting.`Start`
		)
		) / 3600
		)
		) totalTime
		FROM
		tb_meeting
		WHERE
		tb_meeting.Date = #{keyValMap.date}
		GROUP BY
		tb_meeting.RoomID,
		tb_meeting.Date
		) temp1
		WHERE
		tb_meeting_room.ID = temp1.RoomID
		)
		tmptb1
		LEFT JOIN (
		SELECT
		tempNew1.RoomID,
		SUM(
		UNIX_TIMESTAMP(tempNew1.`End`) - UNIX_TIMESTAMP(tempNew1.`Start`)
		) /
		3600 RepeatTime
		FROM
		(
		SELECT
		*
		FROM
		tb_meeting tb1
		WHERE
		(
		(
		TO_DAYS(
		str_to_date(#{keyValMap.date}, '%Y-%m-%d')
		) - TO_DAYS(tb1.Date)
		) % 7 =
		0
		)
		AND tb1.Date != str_to_date(#{keyValMap.date}, '%Y-%m-%d')
		AND
		tb1.`Repeat` = '1'
		) tempNew1
		GROUP BY
		tempNew1.RoomID
		) tmptb2 ON
		tmptb1.ID = tmptb2.RoomID
		) tmptb3
		GROUP BY
		tmptb3.ID
		) tmptbtb2 ON
		tmptbtb1.ID = tmptbtb2.ID
		) tb_tb
		<where>
			<if test="keyValMap.capacity != null">
				AND
				tb_tb.Capacity &gt;= #{keyValMap.capacity}
			</if>
			<if test="keyValMap.roomName != null">
				AND
				tb_tb.RoomName = #{keyValMap.roomName}
			</if>
		</where>
		) tmp0
	</select>

	<!-- 选出符合特定条件的会议室总数 -->
	<select id="queryMeetingRoomsByParameterCount"
		parameterType="com.vyiyun.weixin.model.SqlQueryParameter" resultType="int">
		SELECT COUNT(1) FROM (
		SELECT ID FROM tb_meeting_room
		<where>
			<if test="parameter != null">
				<if test="parameter.id != null">AND ID = #{parameter.id}</if>
				<if test="parameter.roomName != null">AND RoomName = #{parameter.roomName}</if>
				<if test="parameter.capacity != null">AND Capacity = #{parameter.capacity}</if>
				<if test="parameter.equipment != null">AND Equipment = #{parameter.equipment}</if>
				<if test="parameter.address != null">AND Address = #{parameter.address}</if>
			</if>
		</where>
		) tmp
	</select>

</mapper>
