<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vyiyun.common.weixin.dao.WorkdayMapper">

	<resultMap id="result" type="com.vyiyun.common.weixin.entity.Workday">
		<result property="id" column="ID" />
		<result property="corpId" column="CorpId" />
		<result property="startDay" column="StartDay" jdbcType="DATE" />
		<result property="endDay" column="EndDay" jdbcType="DATE" />
		<result property="attendOrNot" column="AttendOrNot" />
		<result property="year" column="Year"/>
		<result property="remark" column="Remark"/>
	</resultMap>


	<!-- 添加工作日 -->
	<insert id="addWorkday" parameterType="java.util.List">
		INSERT INTO tb_workday
		(
			ID,
			CorpId,
			StartDay,
			EndDay,
			AttendOrNot,
			Year,
			Remark
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.id},
			#{item.corpId},
			#{item.startDay, jdbcType=DATE},
			#{item.endDay, jdbcType=DATE},
			#{item.attendOrNot},
			#{item.year, jdbcType=INTEGER},
			#{item.remark}
		)
		</foreach>
	</insert>

	<!-- 查询工作日 -->
	<select id="queryWorkdayList" parameterType="com.vyiyun.weixin.model.SqlQueryParameter" resultMap="result">
		SELECT * FROM tb_workday
		<where>
			1 = 1
			<if test="parameter.corpId != null and parameter.corpId != ''">
			AND CorpId = #{parameter.corpId}
			</if>
			<if test="parameter.startDay != null and parameter.startDay != ''">
			AND StartDay &lt;= #{parameter.startDay, jdbcType=DATE}
			AND EndDay &gt;= #{parameter.startDay, jdbcType=DATE}
			</if>
			<if test="parameter.year != null and parameter.year != ''">
			AND Year = #{parameter.year}
			</if>
		</where>
		ORDER BY Year DESC, StartDay ASC
	</select>

	<!-- 查询工作日 -->
	<select id="queryWorkdays" parameterType="com.vyiyun.common.weixin.entity.Workday" resultMap="result">
		SELECT * FROM tb_workday
		<where>
			1 = 1
			<if test="corpId != null and corpId != ''">
			AND CorpId = #{corpId}
			</if>
			<if test="startDay != null and startDay != ''">
			AND StartDay &lt;= #{startDay, jdbcType=DATE}
			AND EndDay &gt;= #{startDay, jdbcType=DATE}
			</if>
			<if test="year != null and year != ''">
			AND Year = #{year}
			</if>
		</where>
		ORDER BY Year DESC, StartDay ASC
	</select>

	<!-- 删除工作日 -->
	<delete id="deleteWorkday" parameterType="java.lang.String">
		DELETE FROM tb_workday
		WHERE ID = #{id}
	</delete>
</mapper>