<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ymn-web</display-name>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:config/log4j.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:config/spring*.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:config/dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateCodeServlet</servlet-name>
    <servlet-class>com.energy.weixin.servlet.ValidateCodeServlet</servlet-class>
    <init-param>
      <param-name>invalidSecond</param-name>
      <param-value>30</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateCodeServlet</servlet-name>
    <url-pattern>/validateCode</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>WebServlet</display-name>
    <servlet-name>WebServlet</servlet-name>
    <servlet-class>com.ykkhl.ymn.web.servlet.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebServlet</servlet-name>
    <url-pattern>/WebServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>WebSocketFilter</display-name>
    <filter-name>WebSocketFilter</filter-name>
    <filter-class>com.ykkhl.ymn.web.WebSocketFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebSocketFilter</filter-name>
    <url-pattern>/WebServlet</url-pattern>
  </filter-mapping>
</web-app>