@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.ttf") format("truetype");
}
/* 杈呰壊 */
.subColor{
    color: #787878;
}
/* 涓昏壊 */
/*.mainColor{
    color: #06b596;
}
.mainBg{
    background: #06b596;
}*/
.mainColor{
    color: #26a69a;
}
.mainBg{
    background: #26a69a;
}
.blurBg{
    background: #26c6da;
}
.greenColor{
    color: #2baf2b;
}
.greenBg{
    background: #2baf2b;
}
/*.yellowBg{
    background: #d88711;
}*/
.yellowBg{
    background: #f39800;
}
.whiteBg{
    background: #fff;
}
.grayBg{
    background: #787878;
}
.lightGrayBg{
    background: #d0d0d0;
}
.requiredColor{
    color: #F65C09;
    font-weight: 400;
}
.whiteColor{
    color: #fff;
}
/* 寮鸿皟瀛椾綋澶у皬 */
.emphasisFont{
    font-size: 16px !important;
}
/* 鐧借壊鑳屾櫙 */
.whiteBg{
    background: #fff !important;
}
/* 涓嶅彲鐐瑰嚮鎸夐挳鐨勮儗鏅壊 */
.unClickBg{
    background: #ccc !important;
}
/* borderTop */
.borderTop{
    border-top: 1px solid #aeaeae;
}
.borderRight{
    border-right: 1px solid #aeaeae;
}
.borderBottom{
    border-bottom: 1px solid #aeaeae;
}
/* margin */
.marginTop40{
    margin-top: 40px;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop15{
    margin-top: 15px;
}
.marginTop10{
    margin-top: 10px;
}
.marginTop8{
    margin-top: 8px;
}
/* 瀛楃殑浣嶇疆 */
.centrallyLocated{
    text-align: center;
}
/* 鍙戦�鎸夐挳鐨勬牱寮�*/
.sendBtn{
    display: block;
    width: 15%;
    border: 1px solid #aeaeae;
    /* height: 34px; */
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    padding: 4px 0;
    /* margin-top: 30px; */
}
/* placeholder 鏍峰紡*/
.placeholderStyle::-webkit-input-placeholder {
    color:#ff0035;
}
/* 鐗规畩瀹氫綅 */
.specialPosition{
    position: fixed;
}
/* textarea澶氳鏍峰紡 */
.multiLine{
    resize: none;
    min-height: 80px;
    line-height: 36px;
    color: #787878;
    font-size: 16px;
    width: 100% !important;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: visible;
}

.boxModel{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-align : center;
    -webkit-box-align : center;
    -moz-box-align : center;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    box-pack : center;
}
@media (max-width: 767px){
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
}
body > div[class*="arp"]{
    margin-bottom: 40px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: inherit;
}
/* 澶撮儴Start */
.warpHeader {
    text-align: center;
    background: #26a69a;
    color: #fff;
    font-size: 18px;
    padding: 20px 15px 20px 10px;
    line-height: 30px;
}
/* 澶撮儴End */
/* 璁板綍鍒楄〃Start */
section>ul>li{
    cursor: pointer;
}
/* 璁板綍鍒楄〃End */

/* 鍒嗘澧炲姞/鍒犻櫎鍒楄〃 Start */
.stepwiseListModal{
    border-bottom: 1px solid #aeaeae;
}
.stepwiseListHeader{
    display: box;
    display: -webkit-box;
    padding: 7px 0px 7px 10px;
    line-height: 36px;
    font-size: 16px;
    background: #fff;
    position: relative;
    -webkit-box-pack : start;
    box-pack : start;
}
.stepwiseListHeader>div:first-child{
    /*width: 5.5em;*/
}
.stepwiseListHeader>div:nth-child(2){
    -webkit-box-flex: 1;
    box-flex: 1;
}
.stepwiseListModal b{
    position: absolute;
    right: 0px;
    z-index: 1000;
    top: 2px;
    /*width: 46px;*/
}
.stepwiseListHeader b{
    height: 36px;
}
.stepwiseList b{
    height: 50px;
}
.stepwiseListModal i{
    font-weight: 400;
    line-height: 36px;
    display: inline-block;
    height: 36px;
    font-size: 19px;
    text-align: center;
    width: 40px;
}
.stepwiseList i{
    line-height: 50px;
}
/* 鍒楄〃 */
.stepwiseList{
    font-size: 16px;
    background: #fff;
    position: relative;
}
.stepwiseList>div{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #aeaeae;
    margin-left: 40px;
    position: relative;
}
.stepwiseList>div em:first-child{
    width: 50%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 50px;
    height: 50px;
}
.stepwiseList>div em:nth-child(2){
    width: 30%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 50px;
}
.stepwiseList>div em select{
    color: inherit;
    font-size: 16px;
    padding-left: 0px;
    /* margin-left: -4px; */
    outline: none;
    border: 0 !important;
    width: 100%;
    appearance: normal;
    -webkit-appearance: none;
    background: inherit;
}
/* 鍒嗘澧炲姞/鍒犻櫎鍒楄〃 End */

/* 椤圭洰鍒楄〃Start */
.formList{
    padding: 7px 15px 7px 10px;
    border-bottom: 1px solid #aeaeae;
    /*height: 36px;*/
    line-height: 36px;
    font-size: 16px;
    background: #fff;
    position: relative;
    /* 鏂版牱寮�*/
    /* css3鏃х洅瀛愭ā鍨�*/
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-align : start;
    -webkit-box-align : start;
    -moz-box-align : start;
    box-direction: reverse;
    -webkit-box-direction: reverse;
    /* css3鏂扮洅瀛愭ā鍨�*/
    display: flex;
    display: -webkit-flex;
    align-items : flex-start;
    -webkit-align-items: flex-start;
}
.formListHeightLg{
    min-height: 50px !important;
    height: auto !important;
}
.formList:first-child{
    border-top: 1px solid #aeaeae;
}
.listLeft{
    /*float: left;*/
    color: #000;
    /*margin-left: -100%;*/
    position: relative;
    z-index: 1000;
    font-size: 16px;
    -webkit-order: 1;
    order: 1;
}
.listLeft>span{
    display: inline-block;
    /*margin-top: 2px;*/
}
/*.listLeft *{
    vertical-align: middle;
}*/
.listLeft i.icon{
    font-size: 19px;
    color: #26c6da;
    display: inline-block;
    width: 24px;
}
.listNameWidth2{
    min-width: 2.5em;
}
.listNameWidth3{
    min-width: 3.5em;
}
.listNameWidth4{
    min-width: 4.5em;
}
.listNameWidth5{
    min-width: 5.5em;
}
.listNameWidth6{
    min-width: 6.5em;
}
.listNameWidth7{
    min-width: 7.5em;
}
.listNameWidth8{
    min-width: 8.5em;
}
.listNameWidth9{
    min-width: 9.5em;
}
.listNameWidth10{
    min-width: 10.5em;
}
.listRight{
    /*float: left;
    width: 100%;*/
    position: relative;
    /* css3鏂扮洅瀛愭ā鍨�*/
    flex-grow : 1;
    -webkit-flex-grow: 1;
    -webkit-order: 2;
    order: 2;
    /* css3鏃х洅瀛愭ā鍨�*/
    -webkit-box-flex:1;
    box-flex:1;
}
.listRight span{
    display: block;
    width: 100%;
    color: #787878;
    position: relative;
    z-index: 1000;
    font-size: 16px;
    box-sizing: border-box;
    min-height: 36px;
}
.listRight input,
.listRight select{
    outline: none;
    width: 100%;
    height: 36px;
    color: #787878;
    box-sizing: border-box;
    line-height: 36px;
    background: #fff;
    position: relative;
    z-index: 1000;
    vertical-align:middle;
    font-size: 16px;
    box-sizing: border-box;
    font-family: initial !important;
}
.listRight pre{
    color: #787878;
}
.listRight b.selectIcon{
    position: absolute;
    right: 0px;
    font-size: 19px;
    top: 10px;
    z-index: 5000;
}
/*.listRightPadding3{
    padding-left: 3.5em;
}
.listRightPadding4{
    padding-left: 4.5em;
}
.listRightPadding5{
    padding-left: 5.5em;
}
.listRightPadding6{
    padding-left: 6.5em;
}
.listRightPadding7{
    padding-left: 7.5em;
}*/
.listRightPadding8{
    /*padding-left: 8.5em;*/
    min-height: 36px;
}
.listRightPadding9{
    /*padding-left: 9.5em;*/
    min-height: 36px;
}
.listRight select{
    border: 0 !important;
    appearance:normal;
    -webkit-appearance:none;
}
.controls .add-on{
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 19px;
    z-index: 1000;
}
.input-append, .input-prepend {
    white-space: normal;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
}
/* 椤圭洰鍒楄〃End */

/* 鏍规嵁椤圭洰涓嶅悓闇�樉绀虹殑鏁版嵁Start */
.specialExplain{
    background: #ffca7c;
}
.specialExplain .listRight span{
    color: #fff;
}
.specialExplain input{
    background: #ffca7c;
    color: #fff;
}
/*鏍规嵁椤圭洰涓嶅悓闇�樉绀虹殑鏁版嵁End*/

/* 閫夋嫨浜哄憳鍒楄〃Start */
/* 閫夋嫨浜哄憳鍒楄〃鐨勫鍔犳寜閽�*/
.selectPeopleTit>i{
    font-size: 19px;
    position: absolute;
    right: 15px;
    top: 11px;
}
/* 瀹℃壒浜哄憳鍒楄〃淇敼 Start */
.staffList{
    display: box;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: justify;
    box-pack: justify;
    padding: 16px 0px 16px 10px;
    box-sizing: border-box;
    font-size: 16px;
    background: #fff;
}
.staffList>div{
    text-align: center;
    width: 48px;
    position: relative;
    margin-left: -50px;
}
.staffList>div img{
    border-radius: 50%;
}
.staffList em{
    font-style: normal;
}
.staffList>span{
    display: block;
    width: 7em;
}
.staffList>b{
    display: block;
    display: box;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
    width: 46px;
    height: 40px;
}
.staffList>b>i{
    display: block;
    font-size: 19px;
    cursor: pointer !important;
}
/* 瀹℃壒浜哄憳鍒楄〃淇敼 End */
.selectPeopleTit,
.canningTit{
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
    position: relative;
}
.selectPeopleList,
.canningCopyList{
    background: #fff;
    /*padding: 16px 20px 16px 0px;*/
    padding: 0px 20px 16px 0px;
}
.selectPeopleList *,
.canningCopyList *{
    vertical-align: middle;
}
.selectPeopleList>div,
.canningCopyList>div{
    display: inline-block;
}
.addedPeopleList div,
.canningCopy div{
    /*text-align: center;
    display: inline-block;
    width: 49px;
    margin-left: 20px;
    position: relative;*/
    text-align: center;
    display: inline-block;
    width: 48px;
    margin-left: 10px;
    position: relative;
    margin-top: 16px;
}
.addedPeopleList div img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}
.canningCopy div img{
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 5px;
}
.addedPeopleList div i,
.canningCopy div i{
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("../images/cancelPeople.png") no-repeat;
    background-size: 25px 25px;
}
.canningCopy div i{
    top: -8px;
    right: -7px;
    cursor: pointer;
}
.addedPeopleList div i{
    top: 0;
    right: -7px;
}
/* 閫変汉  checkbox Start */
.customCheckBoxPar{
    display: box;
    display: -webkit-box;
    -webkit-box-align: center;
    box-align: center;
}
.customCheckBox{
    display: inline-block;
    height: 1px;
    position: relative;
    overflow: visible;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
    vertical-align: middle;
}
.customCheckBox:before{
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    display: block;
    content: "飿�;
    position: absolute;
}
.customCheckBox:checked:before{
    content: "飿�;
    color: #18b4ed;
}
/* 閫変汉  checkbox End */
.addedPeopleList div span{
    font-size: 14px;
}
.addPeople,
.addCanningCopyBtn{
    margin-left: 20px;
}
.addPeople{
    margin-top: 16px;
}
.addPeople img{
    width: 36px !important;
    height: 36px !important;
}
.addedPeopleList b,.addedPeopleList em {
    position: absolute;
    top: 0;
    right: -7px;
    width: 18px;
    height: 18px;
    background-size: 18px 18px !important;
}
b.unApprIcon {
    background: url("../images/unApproval.png") no-repeat;
}
b.apprIcon {
    background: url("../images/approvaled.png") no-repeat;
}
em.joined{
    border-radius: 50%;
    background: #fff url("../images/checked.gif") no-repeat;
}
.addCanningCopyBtn{
    height: 50px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
.addCanningCopyBtn>img {
    width: 31px !important;
    height: 28px !important;
    margin-top: 10px;
}
/* 閫夋嫨浜哄憳鍒楄〃End */

/* 鎸夐挳Start */
.btnGroup{
    padding-top: 20px;
    text-align: center;
    margin: 0 10px;
}
.warpBtn{
    text-align: center;
    color: #fff;
}
.singleBtn{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
}
.doubleBtn{
    display: inline-block;
    width: 48%;
    height: 38px;
    line-height: 38px;
    font-size: 17px;
}
.doubleBtn.warpBtn:nth-child(2){
    margin-left: 2%;
}
/* 鎸夐挳End */

/* 鎻愮ず妯℃�妗哠tart */
.screenModal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 28000;
}
.reasonMyModal{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-box;
    z-index: 9999;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: rgba(0, 0, 0, 0.2);
}
.reasonMyModal textarea[name=reasons]{
    font-size: 16px;
}
.returnModal>.returnReasons{
    left: 12%;
}
.windowHeight{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loadingModal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 5800;
}
.promptModal{
    background: rgba(0,0,0,0.8);
    font-size: 18px;
    color: #fff;
    padding: 40px 30px;
    line-height: 24px;
    border-radius: 4px;
    position: fixed;
    z-index: 2000;
    max-width: 50%;
}
.loading{
    position: fixed;
    width: 134px;
    height: 94px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 4px;
    margin: auto;
    font-size: 18px;
    z-index: 4000;
}
.oneLoading>div:first-child{
    padding-top: 20px;
}
/* 绗竴绉嶆彁绀�*/
.onePrompt{
    width: 90%;
    position: fixed;
    top: -40px;
    left: 5%;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 0px 0px 4px 4px;
}
.onePrompt i{
    color: #fff;
    margin-right: 5px;
    font-size: 16px;
}
/* 閫�洖妯℃�妗哠tart */
.delImg{
    position: fixed;
    /*border: 1px solid #aeaeae;*/
    border-radius: 8px;
    background: #fff;
    margin: auto;
    width: 66%;
    left: 17%;
    box-sizing: border-box;
}
.returnReasons{
    width: 76%;
    background: #ebebeb;
    border-radius: 8px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    pointer-events: auto;
    position: relative;
}
.returnReasons header,
.addModal form>header{
    height: 60px;
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 60px;
}
.delImg header{
    font-size: 16px;
    color: #000;
    line-height: 25px;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
}
.returnReasons textarea{
    border: 1px solid #ccc;
    background: #fff;
    width: 90%;
    margin: 0 5%;
    resize: none;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}
/*.returnReasons footer,*/
.delImg footer{
    /*margin-top: 20px;*/
    border-top: 1px solid #aeaeae;
    color: #26c6da;
}
.returnReasons footer,
.addModal form>footer{
    margin-top: 8px;
    border-top: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    color: #26c6da !important;
    font-size: 16px;
    border-radius: 0px 0px 8px 8px;
}
.returnReasons footer button,
.delImg footer button,
.addModal form>footer button{
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    float: left;
    background: #fff;
}
.returnReasons footer button,
.addModal form>footer button{
    text-align: center;
    display: inline-block;
    width: 48%;
    color: #26c6da;
    background-color: #ebebeb;
}
.delImg footer button{
    height: 40px;
    line-height: 40px;
    color: #26c6da;
}
.returnReasons footer button:first-child,
.delImg footer button:first-child,
.addModal form>footer button:first-child{
    border-right: 1px solid #aeaeae;
    border-radius: 0px 0px 0px 8px;
}
.returnReasons footer button:nth-child(2),
.delImg footer button:nth-child(2),
.addModal form>footer button:nth-child(2){
    border-radius: 0px 0px 8px 0px;
}
/* 閫�洖妯℃�妗咵nd */
/* 娌℃湁璁板綍 */
.noRecord {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #787878;
}
.noSearchRecord{
    background: #ebebeb;
    padding-top: 200px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #787878;
}
/* 鎻愮ず妯℃�妗咵nd */


/* tab瀵艰埅Start */
ul.nav{
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    height: 40px;
    line-height: 40px;
}
ul.nav>li{
    float: left;
    box-sizing: border-box;
    height: 24px;
    font-size: 17px;
    text-align: center;
    line-height: 24px;
    margin-top: 8px;
}
.twoColumns li{
    width: 50%;
}
.threeColumns li{
    width: 33.3%;
}
ul.threeColumns>li:nth-child(1),
ul.threeColumns>li:nth-child(2),
ul.twoColumns>li:nth-child(1){
    border-right: 1px solid #aeaeae;
}
ul.nav .line{
    height: 2px;
    background-color: #26a69a;
    position: relative;
    top:39px;
    left: 0px;
}
.twoColumns .line{
    width: 50%;
}
.threeColumns .line{
    width: 33.3%;
}
.navSelected{
    color: #26a69a;
}
/* tab瀵艰埅End */

/* 瀹℃牳鍒楄〃Start */

section ul li{
    display: block;
    padding: 7px 15px 7px 10px;
    border-bottom: 1px solid #aeaeae;
    font-size: 14px;
    position: relative;
}
section ul li.oneLine{
    height: 36px;
    line-height: 36px;
}
section li span{
    display: inline-block;
}
section li.oneLine span:nth-of-type(2){
    margin: auto 20px;
    color: #26a69a;
}
.auditStatus{
    float: right;
    margin: 0 10% 0 0!important;
    line-height: 24px;
}
section li.oneLine i{
    font-size: 24px !important;
    position: absolute;
    right: 15px;
    top:12px;
}
li.twoLine header{
    line-height: 24px;
    font-size: 16px;
}
li.twoLine header>span:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
}
li.twoLine header span:nth-child(2){
    margin: 0 20px;
}
.singleStatus{
    position: absolute;
    right: 15px;
    top: 17px;
}
li.twoLine div{
    line-height: 22px;
    font-size: 14px !important;
}
li.twoLine div span:first-child{
    display: block;
    float: left;
    width: 70%;
}
li.twoLine div span:nth-child(2){
    display: block;
    float: right;
    width: 20%;
    margin-right: 10%;
    text-align: right;
}
section li.twoLine i{
    font-size: 24px !important;
    position: absolute;
    right: 15px;
    top:17px;
}
em{
    font-style: normal;
    font-size: inherit;
}
/* 瀹℃牳鍒楄〃End */

/* 鎼滅储Start */
.membersListWarp{
    margin: auto 4px;
    z-index: 5000;
}
.searchPeople{
    height: 28px;
    line-height: 28px;
    margin: 6px auto;
    border-radius: 8px;
    background: #fff;
    color: #787878;
    font-size: 14px;
    text-align: center;
}
.searchBox{
    height: 28px;
    line-height: 28px;
    margin: 6px auto;
    color: #787878;
    font-size: 14px;
    width: 100%;
    position: relative;
}
.searchBox label{
    height: 28px;
    line-height: 28px;
    border-radius: 8px;
    background: #fff;
    margin-right: 3.5em;
    position: relative;
}
.searchBox i.fa-search{
    margin-left: 5px;
    line-height: 28px;
}
.searchBox input{
    margin-bottom: 0;
    width: 80%;
}
.searchBox .fa-times-circle{
    position: absolute;
    right: 5px;
    line-height: 28px;
    font-size: 16px;
}
.searchBox button{
    position: absolute;
    top: 0;
    right: 0.1em;
    background: #26a69a;
    color: #fff;
    border-radius: 4px;
    width: 3em;
    text-align: center;
    height: 28px;
    line-height: 28px;
}

/* 鎼滅储End */

/* 閮ㄥ垎鍒嗙被Start */
.peopleList{
    position:relative;
}
.peopleList>input{
    width:100%;
    height:40px;
    position:absolute;
    top:0;
    left:0;
}
.membersList{
    border: 2px solid #fff;
    margin-bottom: 100px;
}
.firstTit{
    width: 100%;
    height: 40px;
    background: #cbe0f0;
    line-height: 40px;
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid #aeaeae;
    font-size: 16px;
}
.firstTit input{
    appearance:button;
    -webkit-appearance:button;
    width: 100%;
    /*height: 40px;*/
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 1;
    margin-top: 0;
    border: 0;
    outline: none !important;
    background: transparent;
}
/* 淇敼 */
.firstTit input:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    color: #dedfe0;
    width: 100%;
    height: 40px;
}
.firstTit input:checked+i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.firstTit i{
    position: absolute;
    right: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    color: #777;
    font-size: 24px;
    top: 8px;
}
.firstCon,.secondCon,.thirdCon{
    display: none;
}
.firstCon .peopleList{
    padding-left: 10px;
}
.secondTit{
    padding-left: 25px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    background: #f6dec9;
    border-bottom: 1px solid #aeaeae;
    box-sizing: border-box;
    font-size: 16px;
}
.secondTit input{
    appearance:button;
    -webkit-appearance:button;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 0;
    margin-top: 0;
    border: 0;
    outline: none !important;
}
.secondTit input:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    color: #dedfe0;
    width: 100%;
    height: 40px;
}
.secondTit input:checked+i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.secondTit i{
    position: absolute;
    right: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    color: #777;
    font-size: 24px;
    top: 8px;
}
.secondCon .peopleList{
    padding-left: 25px;
}
.thirdTit{
    padding-left: 40px;
    width: 100%;
    height: 40px;
    background: #f9e9db;
    line-height: 40px;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #aeaeae;
    box-sizing: border-box;
    font-size: 16px;
}
.thirdTit input{
    appearance:button;
    -webkit-appearance:button;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 0;
    margin-top: 0;
    border: 0;
    outline: none !important;
}
.thirdTit input:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    color: #dedfe0;
    width: 100%;
    height: 40px;
}
.thirdTit input:checked+i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.thirdTit i{
    position: absolute;
    right: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    color: #777;
    font-size: 24px;
    top: 8px;
}
.thirdCon{
    /*padding-left: 40px;*/
}
.thirdCon .peopleList{
    padding-left: 40px;
}
/* 閮ㄥ垎鍒嗙被End */


/* 浜哄憳鍒楄〃Start */
.peopleIcon img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 5px;
}
.peopleList label div:nth-child(2) span,
.peopleCheckbox label div:nth-child(2) span{
    display: block;
}
.peopleList .peopleName{
    font-size: 16px;
}
.peopleList .peopleZC{
    font-size: 12px;
}
.peopleList{
    border-bottom: 1px solid #aeaeae;
    padding: 8px 0;
}
.peopleList label>div{
    display: inline-block;
}
.peopleCheckbox input,
.peopleList input{
    opacity: 0;
}
.peopleCheckbox label,
.peopleList label{
    display: inline-block;
    padding-left: 20px;
    cursor:pointer;
}
.peopleList label *{
    vertical-align: middle;
}
/* states */
.peopleList label{
    background:url("../images/unchecked.png") 0px center no-repeat;
    background-size: 18px 18px;
    width: 90%;
}
.peopleList label.checked{
    background:url("../images/checked.gif") 0px center no-repeat;
    background-size: 18px 18px;
}
.peopleCheckbox label{
    background:url("../images/unchecked.png") 0px center no-repeat;
    background-size: 18px 18px;
}
.peopleCheckbox label.checked{
    background:url("../images/checked.gif") 0px center no-repeat;
    background-size: 18px 18px;
}

.members{
    background: #fff;
}
.membersListBtn{
    width: 100%;
    position: fixed;
    bottom: 40px;
    z-index: 4000;
    text-align: center;
    background: #ebebeb;
    padding-top: 20px;
}
.membersListBtn button{
    display: inline-block;
    width: 45%;
    height: 38px;
    line-height: 38px;
    font-size: 17px;
    text-align: center;
    color: #fff;
}
.membersListBtn button:first-child{
    background: #d1ccb4;
}
.membersListBtn button:nth-child(2){
    background: #26a69a;
    margin-left: 16px;
}
/* 浜哄憳鍒楄〃End */

/* 鎺掕鍒楄〃 Start */
.rankingList {
    padding: 7px 15px 7px 10px;
    background: #fff;
    border-bottom: 1px solid #aeaeae;
}
.rankingList * {
    vertical-align: middle;
}
.rankingList>span {
    display: inline-block;
}
/* 鎺掕鍒楄〃 End */

/* 绗竴绉嶆彁绀篠tart */
.onePrompt{
    width: 90%;
    position: fixed;
    top: -40px;
    left: 5%;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 0px 0px 4px 4px;
    z-index: 50000;
    font-size: 18px;
}
.onePrompt i{
    color: #fff;
    margin-right: 5px;
    font-size: 18px;
}
/* 绗竴绉嶆彁绀篍nd */

/* 绗簩绉嶆彁绀篠tart */
.twoPromptCon{
    position: fixed;
    width: 240px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    background: #fff;
    margin: auto;
}
.twoPromptCon header{
    /* font-weight: 600; */
    text-align: center;
    margin-top: 15px;
}
.twoPromptCon div{
    width: 200px;
    outline: none;
    resize: none;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.twoPromptCon footer{
    margin-top: 20px;
    border-top: 1px solid #aeaeae;
    height: 50px;
}
.twoPromptCon footer button{
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    color: #1f55db;
}
.twoPromptCon footer button:first-child{
    border-right: 1px solid #aeaeae;
}
/* 绗簩绉嶆彁绀篍nd */

/* 鐗堟潈鎵�湁 */
footer.copyright{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    background: #ebebeb;
    z-index: 5000;
}
/* 鎼滅储Start */
.searchWarp{
    position: relative;
    background: #fff;
    border-bottom: 1px solid #aeaeae;
}
.searchWarp>form{
    margin: 0 20px 18px;
    padding-top: 10px;
}
.searchList{
    display: box;
    display: -webkit-box;
    box-align : center;
    -webkit-box-align : center;
    -webkit-box-pack : start;
    box-pack : start;
    padding: 7px 15px 7px 10px;
    line-height: 36px;
    font-size: 16px;
    background: #fff;
    position: relative;
}
.searchList>label{
    width: 6em;
    text-align: right;
    display: inline-block;
}
.searchList>input,
.searchList>select{
    display: block;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.searchList input,
.searchList select{
    -webkit-appearance: none;
    border: 1px solid #aeaeae;
    outline: none;
    height: 36px;
    color: #787878;
    line-height: 36px;
    background: #fff;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    font-family: initial !important;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 0;
}
.searchList i {
    position: absolute;
    right: 22px;
    top: 16px;
}

.searchList .controls i {
    position: absolute;
    right: 0px;
    top: 2px;
}
.controls>input{
    width: 100%;
}
.searchList>.controls{
    -webkit-box-flex: 1;
    box-flex: 1;
}
.searchList .add-on{
    position: absolute;
    z-index: 1000;
    font-size: 19px;
    right: 10px;
}
.searchList .controls .add-on{right:5px;}
.searchWarp .searchBtn{
    width: 48%;
    height: 38px;
    line-height: 38px;
    font-size: 17px;
    margin:20px auto auto 6.2em;
    text-align: center;
    color: #fff;
}
.searchToggle{
    display: box;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
    position: absolute;
    width: 100%;
    bottom: -26px;
    z-index: 10;
}
.searchToggle i{
    text-align: center;
    height: 33px;
    width: 33px;
    font-size: 38px;
    color: #999999;
    opacity: 0.8;
    border-radius: 100%;
    position: relative;
    z-index: 10;
}

/* 鎼滅储End */

/* 闂鍒楄〃 Start */
.problemList{
    padding-bottom: 20px;
    background: #fff;
    padding: 10px 15px 0px 10px;
}
.problemList>article{
    padding-bottom: 20px;
}
.problemList header{
    color: #000;
    padding-bottom: 10px;
    font-size: 16px;
}
.problemList .subtitle{
    color: #FF9800;
    font-size: 15px;
    margin: -4px 0px 5px;
    padding-left: 1.5em;
    line-height: 24px;
}
.problemList pre{
    line-height: 24px;
    text-align:justify;
    -webkit-text-align-last:justify;
    font-size: 15px;
    padding-left: 1.5em;
}
/* 闂鍒楄〃 End */

/* 鎵瑰缁撴灉Start */
.replyResults{
    padding: 0px 15px 10px 10px;
    font-size: 16px;
    box-sizing: border-box;
    background: #fff;
}
.replyResults header{
    line-height: 40px;
    color: #000;
    margin-bottom: 5px;
}
.replyResults ul li{
    line-height: 24px;
    margin-bottom: 8px;
    border-bottom: 0;
    border-bottom: 1px solid #aeaeae;
    line-height: 24px;
    margin-bottom: 8px;
    border-bottom: 0;
    border-bottom: 1px solid #aeaeae;
    padding: 0 0 8px 0;
    font-size: 16px
}
.replyResults ul li>div{
    display: box;
    display: -webkit-box;
    box-align: stretch;
    -webkit-box-align: stretch;
    -webkit-box-pack:justify;
    box-pack:justify;
    padding-bottom: 3px;
}
.replyResults ul li span{
    display: block;
}
.replyResults ul li>span{
    font-size: 14px;
}
.replyResults ul li>div span:nth-child(1){
    min-width: 3.5em;
}
.replyResults ul li>div span:nth-child(2){
    color: #939191;
    width: 80%;
    text-align: right;
}
/* 鎵瑰缁撴灉End */

/* 淇敼bootstrap  Start */
form{
    margin: 0;
}
label{
    margin-bottom: 0px
}
.input-append .add-on,
.input-prepend .add-on{
    display: inline-block;
    width: auto;
    height: 20px;
    /* min-width: 16px; */
    padding: 0;
    font-size: 19px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 0px 0 #ffffff;
    background-color: #fff;
    border: 0px;
    min-height: 0;
}
.input-append, .input-prepend {
    white-space: normal;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
}
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active{
    background: #26c6da;
}
.datetimepicker table tr td span {
    display: block;
    width: 23%;
    height: 40px;
    line-height: 40px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 40px;
}
.table-condensed .prev i{
    background: url("../images/csg.png") no-repeat 0 -53px;
    width: 15px;
    height: 15px;
}
.table-condensed .next i{
    background: url("../images/csg.png") no-repeat 0 -28px;
    width: 15px;
    height: 15px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    margin-bottom: 0;
}
/* 淇敼bootstrap  End */
/* bottom杈规涓� */
.noBorderBottom{
    border-bottom: 0px;
}
.noBorderTop{
    border-top: 0px !important;
}
.formList.myHide{
    display: none !important;
}
/* 鏂扮殑鎼滅储 Start */
/* 鍏ㄩ儴鐘舵� */
.newSearchNav{
    position: fixed;
    top: 0px;
    left:0;
    right: 0;
    z-index: 80;
}
.newSearchHead{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.newSearchHead b{
    font-weight: 400;
}
.newSearchHead *{
    vertical-align: middle;
}
.newSearchHead>input{
    appearance: button;
    -webkit-appearance: button;
    width: 100% !important;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    opacity: 1;
    margin-top: 0;
    border: 0 !important;
    outline: none !important;
    background: transparent;
    cursor: pointer;
}
.newSearchHead>input:before{
    display: block;
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    width: 100%;
    height: 50px;
}
.newSearchHead span{
    display: inline-block;
    position: relative;
}
.newSearchHead span i{
    font-size: 25px;
    margin-top: -8px;
}
.newSearchHead i.fa-filter{
    font-size: 20px;
}
.newSearchHead input:checked+span>i,
.newSearchHead input:checked+i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.newSearchHead input+span>i,
.newSearchHead input+i{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.newSearchBottom{
    border-bottom: 1px solid #d0cece;
}
.newSearchNav ul{
    padding-left: 15px;
}
.newSearchNav ul li{
    position: relative;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
.newSearchNav ul li>i{
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 30px;
}
.newSearchNav ul li label>i{
    color: #b4b4b4;
}
.newSearchNav+section{
    margin-top: 51px;
}
/* 绛涢� */
.filterForm label{
    display: inline-block;
    line-height: 45px;
}
.filterForm label,
.filterForm input,
.filterForm select{
    font-size: 16px;
}
.filterForm .listRight label,
.filterForm li>label:nth-of-type(2){
    position: absolute;
    right: 30px;
    color: #b4b4b4;
    top:0px;
}
.filterForm .listRight label:nth-of-type(2) i,
.filterForm li>label:nth-of-type(2) i{
    font-size: 20px;
}
.filterForm li,
.publicNav{
    /* css3鏃х洅瀛愭ā鍨�*/
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-align : start;
    -webkit-box-align : start;
    -moz-box-align : start;
    /* css3鏂扮洅瀛愭ā鍨�*/
    display: flex;
    display: -webkit-flex;
    align-items : flex-start;
    -webkit-align-items: flex-start;
}
.filterForm li input{
    height: 25px;
    padding: 10px 0;
}
.filterForm li select{
    height: 45px;
}
.filterForm li input,
.filterForm li select{
    display:block;
    /* css3鏂扮洅瀛愭ā鍨�*/
    flex-grow : 1;
    -webkit-flex-grow: 1;
    /* css3鏃х洅瀛愭ā鍨�*/
    -webkit-box-flex:1;
    box-flex:1;
    /* border: 0 !important; */
    appearance: normal;
    -webkit-appearance: none;
    background: transparent;
}
.filterForm li select{
    position: relative;
    z-index: 10;
}
/* 鎼滅储鎸夐挳 */
.filterForm button{
    display: inline-block;
    outline: none;
    height: 40px;
    line-height: 40px;
    width: 35%;
    margin: 15px auto;
    border-radius: 4px;
    font-size: 18px;
}
/* 鏃㈡湁瀵艰埅鍙堟湁鎼滅储 */
/* 鏂扮殑鎼滅储 End */
/*.publicNav{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-align: start;
    -webkit-box-align: start;
    -moz-box-align: start;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}*/
.newSearchHeaderL{
    position: relative;
    flex-grow: 7;
    -webkit-flex-grow: 7;
    -webkit-order: 1;
    order: 1;
    -webkit-box-flex: 7;
    box-flex: 7;
    padding-left: 20px;
    box-sizing: border-box;
}
.newSearchHeaderL i{
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 25px;
}
.newSearchHeaderC{
    width: 1px;
    border-right: 1px solid #fff;
    height: 40px;
    margin: 5px 0;
    -webkit-order: 2;
    order: 2;
}
.newSearchHeaderR{
    position: relative;
    flex-grow: 2;
    -webkit-flex-grow: 2;
    -webkit-box-flex: 2;
    box-flex: 2;
    -webkit-order: 3;
    order: 3;
}
body,.addCanningCopyBtn img{
	cursor:pointer;
}
/*客户端上传*/
#addScanCopy{
	overflow: hidden !important;
}
.addCanningCopyBtn input[type="file"]{
	position:absolute;
	top:0;left:0;
	font-size:26px;
	opacity:0;
}
.previewBigImg{
	position:fixed;
	z-index:999;
	top:0;left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	/* 居中  */
	display:-webkit-box; 
	-webkit-box-orient:horizontal; 
	-webkit-box-pack:center; 
	-webkit-box-align:center; 
	display:-moz-box; 
	-moz-box-orient:horizontal; 
	-moz-box-pack:center; 
	-moz-box-align:center; 
	display:-o-box; 
	-o-box-orient:horizontal; 
	-o-box-pack:center; 
	-o-box-align:center; 
	display:-ms-box; 
	-ms-box-orient:horizontal; 
	-ms-box-pack:center; 
	-ms-box-align:center; 
	display:box; 
	box-orient:horizontal; 
	box-pack:center; 
	box-align:center;
}

.zoom {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99990;
}
.zoom .content {
    background: #fff none no-repeat scroll 50% 50%;
    border-radius: 4px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3);
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 200px;
    z-index: 99991;
}
.zoom .content.load {
    background-image: url("../../images/smallLoading.gif");
}
.zoom img {
    background: #ececec none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: block;
    max-width: none;
}
.zoom .close, .bigclose {
    background: transparent url("../images/close.png") no-repeat scroll 50% 50%;
    border-radius: 0 0 0 4px;
    cursor: pointer;
    height: 49px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 49px;
    z-index: 99993;
}
.zoom .next, .zoom .previous {
    display: block;
    height: 49px;
    margin-top: -25px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 49px;
    z-index: 99992;
}
.zoom .previous {
    background: rgba(0, 0, 0, 0) url("../images/arrows.png") no-repeat scroll 0 0;
    border-radius: 0 4px 4px 0;
    left: 0;
}
.zoom .next {
    background: rgba(0, 0, 0, 0) url("../images/arrows.png") no-repeat scroll 100% 0;
    border-radius: 4px 0 0 4px;
    right: 0;
}
.zoom .close:hover, .bigclose:hover {
    background-color: #f65c09;
}
.zoom .next:hover, .zoom .previous:hover {
    background-color: #08c;
}