
.warp>header {
    height: 76px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #aeaeae;
    font-size: 18px;
}
.addIcon{
    position: absolute;
    right: 0px;
    top: 9px;
    z-index: 1000;
}
b.addIcon{
    font-size: 19px;
}
.addIcon.wordIcon{
    font-size: 16px;
    font-weight: 400;
    top: 0px;
}
/* 领取二维码 */
.getCode{
    font-size: 16px;
    margin: 20px auto 20px 10px;
}
.codeImg{
    text-align: center;
}
/* 领取成功 */
.waybillNum{
    text-align: center;
    font-size: 20px;
    margin: 100px auto;
    font-weight: bold;
}
.prompt{
    text-align: center;
    font-size: 30px;
    color: #FA0F0F;
    font-weight: bold;
}
/**当前快递状态**/
.status-on{
	margin-top: 12px;
    height: 55px;
    /* position: absolute;
    top: 0;
    right: 0;
    width: 105px; */
}
.rcv{
	background: url("../images/receive.png") no-repeat center center;
    background-size: 100px;
}
.unrcv{
	background: url("../images/unReceive.png") no-repeat center center;
    background-size: 100px;
}
/* #trackingBy-select{
	position:absolute;
	width:100%;
	z-index:2000;
	background:#fff;
	text-align:center;
	border:1px solid #aeaeae;
} */