.detailWarp header{
    height: 76px;
    line-height: 76px;
    text-align: center;
    background: #26a69a;
    color: #fff;
    font-size: 15px;
    border-top: 1px solid #aeaeae;
}

/* 签到主题、开始时间、结束时间样式Start */
.formList{
    padding: 0 15px 0 10px;
    border-bottom: 1px solid #aeaeae;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    background: #fff;
    position: relative;
}
.formList:first-child{
    border-top: 1px solid #aeaeae;
}
.listLeft{
    width: 5em;
    float: left;
    color: #000;
    margin-left: -100%;
    position: relative;
    z-index: 1000;
}
.listRight{
    float: left;
    width: 100%;
}
.listRight span{
    display: block;
    width: 100%;
    padding-left: 5.5em;
    color: #787878;
    position: relative;
    z-index: 1000;
    font-size: 14px;
}
.controls .add-on{
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 19px;
    z-index: 1000;
}
/* 签到主题、开始时间、结束时间样式End */

/* 请假说明Start */
.leaveExplain{
    background: #ffca7c;
}
.leaveExplain .listRight span{
    color: #fff;
}
/* 请假说明End */

/* 待审核人员列表Start */
.selectPeople{
    background: #fff;
}
.selectPeopleTit{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.selectPeopleList{
    background: #fff;
    padding: 0px 20px 10px 0px;
}
.selectPeopleList div{
    text-align: center;
    display: inline-block;
    width: 49px;
    margin: 18px 0 0 20px;
    position: relative;
}
.selectPeopleList div img{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}
.selectPeopleList div span{
    font-size: 14px;
}
/* 待审核人员列表End */

/* 催办按钮Start */
.launchedBtn{
    outline: none;
    height: 30px;
    width: 100%;
    border-left: 10px solid #ebebeb;
    border-right: 10px solid #ebebeb;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #26a69a;
}
/* 催办按钮End */

/* 催办模态框Start */
.modalLaunched{
    background: rgba(0,0,0,0.8);
    font-size: 14px;
    color: #fff;
    width: 134px;
    height: 94px;
    text-align: center;
    line-height: 94px;
    border-radius: 4px;
    position: absolute;
    z-index: 2000;
    top: 100px
}
/* 催办模态框End */