textarea#missionArea,
textarea#details{
    resize: none;
    min-height: 80px;
    line-height: 36px;
    color: #787878;
    font-size: 16px;
    width: 100% !important;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: visible;
}
.listRight .iconLabel{
    position: absolute;
    right: 0px;
    z-index: 1000;
    font-weight: 400;
    top: 0px;
}
/* ¼ÇÂ¼ */
li.twoLine header>span:first-child {
    width: 60%;
}
li.twoLine div span:first-child {
    width: 60%;
}
li.twoLine div span:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 35%;
    margin-right: 5%;
}
/* ËÑË÷ */
.recordList {
    background: #fff;
    border-top: 1px solid #aeaeae;
    margin-top: 20px;
}
.searchWarp{
    border-bottom: 0 ;
}
.searchWarp>form {
    margin: 0 20px 0px;
    padding-top: 10px;
    padding-bottom: 18px;
}
ul.nav{
    margin-bottom: 0;
}
.searchToggle{
    display: block;
    position: absolute;
    width: 33px;
    bottom: -20px;
    z-index: 10;
}