.meetRoom>header {
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	background: #ebebeb;
	border-bottom: 1px solid #aeaeae;
	padding-left: 10px;
}

.meetRoomCon {
	background: #fff;
	border-bottom: 1px solid #D9D9D9;
	clear: both;
}

.meetRoomCon article {
	margin: 0 10px;
	border-bottom: 1px solid #ebebeb;
	padding: 5px 0;
	line-height: 24px;
	position: relative;
}

.meetRoomCon article:last-child {
	border-bottom: 0px;
}

.meetRoomCon article * {
	vertical-align: middle;
}

.meetRoomCon article>header {
	font-size: 17px;
}

.meetRoomCon article div {
	/* padding-left: 15px; */
	font-size: 14px;
	line-height: 24px;
	white-space: nowrap;
}

.meetRoomCon article div.mEquipment {
	width:70%;
	clear: both;
	color: #888888;
	padding-top: 6px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.meetRoomCon article div.listLeft span.timeCounts {
	width: 80px;
	padding-left: 1em;
	color: #3CC51F;
	float: right;
	margin-right: -5em;
	margin-top: 0;
	display: none;
}

.meetRoomCon article div.peopleLineH {
	width: 5em;
	line-height: 30px;
	color: #08a7d7;
}

.meetRoomCon article div.peopleLineH div {
	margin: 0;
	display: inline-block;
	line-height: 21px;
	padding-left: 36px;
}

.meetRoomCon article div.listRight span.title {
	line-height: 30px;
	padding-left: 3px;
	font-weight: bold;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.meetRoomCon article header {
	font-size: 16px;
	padding-left: 10px;
}

.meetRoomCon article i {
	line-height: 24px;
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
}

.meetRoomCon article b {
	position: absolute;
	top: 25px;
	right: 0px;
	font-size: 24px;
	color: #888;
}

.meetRoomCon article button.canBeReserve {
	width: 90px;
	line-height: 25px;
	position: absolute;
	top: 25px;
	right: 20px;
	font-size: 24px;
	color: #3CC51F;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	background: transparent;
	text-align: right;
}

.meetRoomCon article i.user {
	background: url("../images/user.png") no-repeat center -2px;
	background-size: 22px 22px;
}

.meetRoomCon article i.videoCamera {
	background: url("../images/videoCamera.png") no-repeat center -2px;
	background-size: 22px 22px;
}

.noRecord {
	position: absolute;
	top: 200px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #787878;
}

.warp>header {
	height: 80px;
	/*line-height: 76px;*/
	text-align: center;
	background: #26a69a;
	color: #fff;
	border-top: 1px solid #aeaeae;
	color: #fff;
}

.warp>header.h-bg {
	background: #FBF9FE;
	color: #565656;
	border-bottom: 1px solid #D9D9D9;
	border-top: none;
}

header .meetTheme {
	font-size: 18px;
	line-height: 50px;
}

header .headbg {
	color: #08a7d7;
	font-weight: bold;
}

header .meetAddress {
	font-size: 14px;
	line-height: 20px;
	color: #888;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 2%;
	padding-right: 2%;
}

.roomNameDetail header {
	border-top: none;
}

.roomNameDetail header .meetTheme {
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 2%;
	padding-right: 2%;
}

.roomNameDetail header .meetAddress {
	color: #d9d9d9;
}

.fgrayBg {
	background: #FBF9FE !important;
}

div.inform {
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}

div.inform i {
	display: inline-block;
	margin-right: 5px;
	font-size: 14px;
	color: #26c6da;
	font-size: 16px;
}
/* �鿴���� */
.meeting header,.meeting>div {
	padding-left: 55px;
}

.meetTime {
	top: 6px;
	left: 10px;
	position: absolute;
	display: inline-block;
	width: 48px;
	height: 48px;
	background: url("../images/timeBg.png") no-repeat center left;
	background-size: 48px 48px;
}

.meetTime span {
	display: block;
	text-align: center;
	color: #fff;
}

.meetTime span:first-child {
	height: 20px;
	line-height: 20px;
	font-size: 16px;
}

.meetTime span:nth-child(2) {
	height: 28px;
	line-height: 28px;
	font-size: 30px;
}

/**日期切换***/
.listRight span.mt-date {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	line-height: 36px;
}

.listRight i.left {
	float: left;
	line-height: 36px;
	color: #08a7d7;
	font-size: 26px;
	z-index: 2;
}

.listRight i.right {
	position: relative;
	float: right;
	margin-top: -30px;
	color: #08a7d7;
	font-size: 26px;
	z-index: 2;
}
/**日期切换**/
.listRight .yesterdayDt {
	float: left;
	line-height: 36px;
}
/**选择时间段**/
.choose-time {
	margin-top: 0.8em;
}

.choose-time ul li {
	float: left;
	width: 16.18888%;
	border: 1px solid #a9a9a9;
	border-right: none;
	border-left: none;
	margin-bottom: 2em;
	cursor: pointer;
}

.choose-time ul li span {
	bottom: -2.4em;
	font-size: 14px;
}

.choose-time ul li.bord-l {
	position: relative;
	border-left: 1px solid #a9a9a9;
}

.choose-time ul li:last-child {
	border-right: 1px solid #a9a9a9;
}

.choose-time ul li.bord-r {
	position: relative;
	border-right: 1px solid #a9a9a9;
}

.choose-time ul li.bord-r span.on-r-s {
	text-align: right;
}

.choose-time ul li.toCheck {
	background: #3CC51F;
	border-color: #2aaf2a
}

.choose-time ul li.Checked {
	background: #c9c9c9;
	border-color: #a9a9a9;
}

.choose-sign {
	margin-top: 1em;
	text-align: center;
	line-height: 20px;
}

.choose-sign ul {
	margin: 1em auto;
	height: 20px;
}

.choose-sign ul li {
	float: left;
	width: 31.5%;
	border: none;
	padding: 0;
	text-align: left;
	margin-left: 5px;
}

.choose-sign ul li span {
	width: 20px;
	height: 20px;
	float: left;
	line-height: 20px;
	min-height: 20px;
	left: -5px;
}

.choose-sign ul li:nth-child(1) span {
	border: 1px solid #a9a9a9;
}

.choose-sign ul li:nth-child(2) span {
	background: #3CC51F;
}

.choose-sign ul li:nth-child(3) span {
	background: #c9c9c9;
	display: block;
	border: 1px solid #a9a9a9;
}

.listRight input.reservation {
	border: 1px solid #d9d9d9;
	padding: 0;
	margin-left: 7.5em;
	width: 5em;
	border-radius: 5em;
}

.mwui-switch-btn {
	width: 55px;
	display: block;
	padding: 1px;
	overflow: hidden;
	margin-left: 10em;
	margin-top: 3px;
	border-radius: 18px;
	background: #d9d9d9;
}

.switch {
	margin-left: 17em;
}

.mwui-switch-btn span {
	width: 2em;
	font-size: 14px;
	height: 18px;
	display: block;
	background: #fff;
	border-radius: 18px;
	float: left;
	color: #3B75FD;
	min-height: 28px;
}

.mwui-switch-btn:hover span {
	background: #fff;
}

.mwui-switch-btn span.off {
	box-shadow: 1px 1px 2px #d9d9d9;
}

.on {
	background: #00e366;
}
/**日期table**/
.warp>header.showdate {
	background: #FBF9FE;
	height: 50px;
	color: #565656;
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;
	border-bottom: 1px solid #d9d9d9 !important;
}

.border-none {
	border: none !important;
}

.meetRoom .mytable {
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}

.meetRoom i.previousweek,.meetRoom i.nextweek {
	
}

.meetRoom i.previousweek {
	position: absolute;
	left: 0;
	top: 0.5em;
	margin-top: 0;
}

.meetRoom i.nextweek {
	position: absolute;
	right: 0;
	top: 0.5em;
	margin-top: 0;
	line-height: 36px;
}
/**筛选菜单**/
.meetRoom div.filter-m {
	margin: 0;
	background: #FBF9FE;
	border-top: 1px solid #d9d9d9;
}

.meetRoom div.filter-m ul li {
	margin-left: 12px;
	width: 29%;
	text-align: right;
}

.meetRoom div.filter-m ul li:nth-child(1) {
	text-align: left;
}

.meetRoom div.filter-m ul li:nth-child(3) {
	text-align: right;
}

.meetRoom div.filter-m div {
	display: inline-block;
	padding-right: 5px;
}
.roomItem{
	width: 92%;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mainColor{
	font-weight:bold;
}
.roomItem b{
	font-weight:normal;
	color:#a1a1a1;
}