.meetRoom>header{
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    background: #ebebeb;
    border-bottom: 1px solid #aeaeae;
    padding-left: 10px;
}
.meetRoomCon{
    background: #fff;
    border-bottom: 1px solid #aeaeae;
}
.meetRoomCon article{
    margin: 0 10px;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 0;
    line-height: 24px;
    position: relative;
}
.meetRoomCon article:last-child{
    border-bottom: 0px;
}
.meetRoomCon article *{
    vertical-align: middle;
}
.meetRoomCon article>header{
    font-size: 17px;
}
.meetRoomCon article div{
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
}
.meetRoomCon article header{
    font-size: 16px;
    padding-left: 10px;
}
.meetRoomCon article i{
    line-height: 24px;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
}
.meetRoomCon article b{
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 24px;
}
.meetRoomCon article i.user{
    background: url("../images/user.png") no-repeat center -2px;
    background-size: 22px 22px;
}
.meetRoomCon article i.videoCamera{
    background: url("../images/videoCamera.png") no-repeat center -2px;
    background-size: 22px 22px;
}

.noRecord {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #787878;
}
.warp>header{
    min-height: 76px;
    /*line-height: 76px;*/
    text-align: center;
    background: #26a69a;
    color: #fff;
    border-top: 1px solid #aeaeae;
}
header .meetTheme{
    font-size: 18px;
    line-height: 20px;
    margin-top: 8px;
    min-height: 30px;
    overflow: hidden;
    padding: 0 10px;
}
header .meetAddress{
    font-size: 14px;
    line-height: 22px;
}
div.inform{
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
div.inform i{
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    color: #26c6da;
    font-size: 16px;
}
/* �鿴���� */
.meeting header,
.meeting>div{
    padding-left: 55px;
}
.meetTime{
    top: 6px;
    left: 10px;
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("../images/timeBg.png") no-repeat center left;
    background-size: 48px 48px;
}
.meetTime span{
    display: block;
    text-align: center;
    color: #fff;
}
.meetTime span:first-child{
    height: 20px;
    line-height: 20px;
    font-size: 16px;
}
.meetTime span:nth-child(2){
    height: 28px;
    line-height: 28px;
    font-size: 30px;
}