@CHARSET "UTF-8";
body {
	overflow-x: hidden
}

.ovtime {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	width: 100%;
	box-sizing: border-box;
	box-orient: horizontal;
	-moz-box-direction: normal;
	-webkit-box-direction: normal;
	box-direction: normal;
}

.addTimeList {
	position: relative;
	border-bottom: 1px solid #aeaeae;
	padding: 10px 0
}

.addTimeList:last-child {
	border-bottom: none
}

.addTimeList b {
	position: absolute;
	right: 5px;
	top: 10px;
}

.addTimeList>b>i {
	display: block;
	font-size: 19px;
	cursor: pointer !important;
}

.ovtime .left:first-child {
	-moz-box-flex: 3;
	-webkit-box-flex: 3;
	box-flex: 3;
}

.ovtime .left:nth-child(2) {
	width: 18px;
	display: box;
	box-sizing: border-box;
}

.ovtime .left:nth-child(3) {
	width: 18px;
	display: box;
	box-sizing: border-box;
}

.ovtime .left:nth-child(4) {
	-moz-box-flex: 3;
	-webkit-box-flex: 3;
	box-flex: 3;
}

.ovtime .left:last-child {
	width: 18px;
	display: box;
	box-sizing: border-box;
}

.ovtime input {
	width: 100%;
	text-align: center;
}

.canningTit>i {
	font-size: 19px;
	position: absolute;
	right: 15px;
	cursor: pointer;
	top: 11px;
}

.selectTimeList {
	background: #fff none repeat scroll 0 0;
	box-sizing: border-box;
	font-size: 16px;
	padding: 0px 10px 0 10px;
}

.selectTimeList  b {
	display: block;
}

.selectTimeList i {
	cursor: pointer !important;
	display: block;
	font-size: 19px;
}

.formList.nobotbor {
	border-bottom: none;
	padding: 7px 0 0 0;
}

#reason {
	box-sizing: border-box;
	color: #787878;
	font-size: 16px;
	line-height: 36px;
	min-height: 75px;
	overflow: visible;
	padding-right: 15px;
	resize: none;
	width: 100% !important;
}
.btnGroup .singleBtn{background:#26c6da}
.formList.nobotbor{border-bottom:none;padding:7px 0 0 0;}