
/* �޸���2015/08/13 */
body{
    background: #ebebeb;
}
/* ǩ������ͷ��Start */
.themeWarp>header{
    height: 124px;
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    color: #26a69a;
    text-align: center;
}
header .themeTit{
    font-size: 24px;
    line-height: 70px;
}
/*header .themeTit span{
    display: block;
}*/
header .themeTime span:first-child{
    font-size: 18px;
}
header .themeTime span:nth-child(2),
header .themeTime span:nth-child(3){
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}
/* ǩ������ͷ��End */

/* ǩ����ǩ��Start */
.themeStart,.themeEnd{
    position: relative;
    border-bottom: 1px solid #aeaeae;
    height: 60px;
}

.themeStart>form:after,
.themeEnd>form:after{
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.themeStart>form,
.themeEnd>form{
    padding-left: 10px;
}
.themeStartTime,
.themeEndTime{
    width: 7em;
    float: left;
    margin-left: -100%;
    /*padding-left: 10px;*/
    height: 60px;
    padding: 7px 0;
    box-sizing: border-box;
}
.themeStartTime span{
    display: block;
    width: 5.5em;
}
.signInCon span {
    display: block;
}
.themeEndTime span{
    display: block;
    width: 5.5em;
}
.themeStartTime span:nth-child(1),
.themeEndTime span:nth-child(1){
    font-size: 16px;
    color: #000;
    line-height: 24px;
}
.themeStartTime span:nth-child(2),
.themeEndTime span:nth-child(2){
    color: #787878;
    font-size: 14px;
    line-height: 22px;
}
.themeStartCon,
.themeEndCon{
    width: 100%;
    float: left;
    text-align: right;
}
.themeStartCon>div,
.themeEndCon>div{
    padding-left: 7em;
    padding-right: 15px;
    height: 50px;
}
.signInCon>span,
.signOutCon span{
    display: block;
    line-height: 25px;
}
.themeStartCon .signInAdd,
.themeEndCon .signOutAdd{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 16px;
    color: #787878;
    line-height: 24px;
    padding-top: 7px;
}
.themeStartCon .signInAdd+span,
.themeEndCon .signOutAdd+span{
    color: #26a69a;
}
.signOutAdd+span,
.signInAdd+span{
    font-size: 14px;
    line-height: 22px;
}
/* ǩ����ǩ��End */

/* ǩ����ǩ�˰�ť��ʽStart */
.themeStart button,
.themeEnd button{
    height: 30px;
    width: 50px;
    line-height: 30px;
    margin-top: 15px;
    border: 1px solid #188c81;
    background: #26a69a;
    color: #fff;
    font-size: 14px;
    outline: none;
    text-align: center;
    border-radius: 3px;
}
/* ǩ��End */

/* ��ӱ�עStart */
.addRemark{
    background: #26c6da;
    color: #fff;
    height: 42px;
    border-left: 10px solid #ebebeb;
    border-right: 10px solid #ebebeb;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}
/* ��עģ̬�� */
.modalRemark{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}
.remarkBox{
    background: #ebebeb;
    border-radius: 8px;
    width: 76%;
    margin: 100px auto auto;
}
.remarkBox header{
    height: 60px;
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 60px;
}
.remarkBox textarea{
    border: 1px solid #ccc;
    background: #fff;
    width: 90%;
    margin: 0 5%;
    resize: none;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}
.remarkBox footer{
    margin-top: 5px;
    border-top: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    color: #26c6da;
    font-size: 16px;
}
.remarkBox footer>span{
    text-align: center;
    display: inline-block;
    width: 48%;
}
.remarkBox footer>span:first-child{
    border-right: 1px solid #ccc;
}
/* ��ӱ�עEnd */

/* ��ʾ��ע����Start */
.remarkCon{
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #aeaeae;
}
.remarkCon .remarkDetail{
    width: 100%;
    float: left;
}
.remarkDetail div{
    padding-left: 4em;
    color: #787878;
    padding-right: 15px;
    min-height: 40px;
    line-height: 40px;
}
.remarkCon .remarkTit{
    width: 3em;
    float: left;
    margin-left: -100%;
    padding-left: 10px;
    line-height: 40px;
    font-size: 16px;
}

/* ��ʾ��ע����End */
/* ��ȡ����λ�� */
.getAdd{
    background: #2baf2c;
    color: #fff;
    height: 42px;
    border-left: 10px solid #ebebeb;
    border-right: 10px solid #ebebeb;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}
.currentPositionTit{
    font-size: 16px;
    margin-top: 20px;
    line-height: 24px;
    color: #000;
    padding-left: 10px;
    margin-bottom: 6px;
}
.currentPosition{
    width: 100%;
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
}
.currentAdd{
    float: left;
    width: 100%;
}
.currentAdd div{
    padding-left: 4em;
    color: #787878;
    padding-right: 15px;
    font-size: 16px;
    line-height: 40px;
}
.currentTime{
    width: 3em;
    float: left;
    margin-left: -100%;
    padding-left: 10px;
    line-height: 40px;
    font-size: 14px;
}

/* �Ƿ�ȷ��ǩ�� */
.twoPromptCon {
    border-radius: 8px !important;
    border: 0 !important;
}
.twoPromptCon>div{
    width: auto !important;
    font-size: 16px !important;
    color: #000 !important;
    line-height: 25px !important;
    text-align: left !important;
    padding: 10px 20px !important;
    box-sizing: border-box !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.twoPromptCon header {
    display: none;
}
.twoPromptCon footer {
    margin-top: 0px !important;
    border-top: 1px solid #aeaeae;
    height: 40px !important;
}
.twoPromptCon footer button {
    height: 40px !important;
    line-height: 40px !important;
    color: #26c6da !important;
    font-size: 14px !important;
}
.twoPromptCon footer button:first-child{
    border-radius: 0px 0px 0px 8px !important;
}
.twoPromptCon footer button:nth-child(2){
    border-radius: 0px 0px 8px 0px !important;
}
/* 版权所有 */
body > div[class*="arp"]{
    margin-bottom: 40px;
}
footer.copyright{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    background: #ebebeb;
    z-index: 5000;
}