
/* 瀵艰埅Start */
.signInWarp>ul{
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    height: 40px;
    line-height: 40px;
}
.signInWarp>ul>li{
    float: left;
    width: 50%;
    box-sizing: border-box;
    height: 24px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin-top: 8px;

}
.signInWarp>ul>li:nth-child(1){
    border-right: 1px solid #aeaeae;
}
.signInWarp .line{
    width: 50%;
    height: 2px;
    background-color: #26a69a;
    position: relative;
    top:39px;
    left: 0px;
}
.navSelected{
    color: #26a69a;
}
/* 瀵艰埅End */

/* 绛惧埌浜嬮」Start */
.signInList{
	position: relative;
    margin: 10px;
    padding: 7px 15px 15px 10px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 4px solid #26a69e;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.signInList header{
    font-size: 16px;
    color: #26a69a;
    line-height: 24px;
}
.signInList .signInTime{
    font-size: 14px;
    color: #787878;
    line-height: 22px;
}
.signInList i{
    position: absolute;
    right: 15px;
    color: #777;
    font-size: 24px;
    bottom:23px
}
/* 绛惧埌浜嬮」End */
/* 鐗堟潈鎵�湁 */
body > div[class*="arp"]{
    margin-bottom: 40px;
}
footer.copyright{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    background: #ebebeb;
    z-index: 5000;
}
.signInList header{
    margin-bottom:10px;
    padding-bottom:10px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
    text-align:center;
    border-bottom:dashed 1px #ddd;
    word-break: break-all;
}
.signInList .signInTime{
    font-size: 14px;
    color: #787878;
    line-height: 22px;
}
.signInList .signInTime em{
	margin-right:5px;
	display:inline-block;
	width:16px;
	height:16px;
	border-radius:50%;
	background:#D7CCAD;
	color:#fff;
	font-size:12px;
	line-height:14px;
	text-align:center;
	font-style:normal
}
.signInList .signInTime em:nth-of-type(odd){
	background:#26a69a;
}
.signInList .signInTime i{
	position:static;
	font-size:12px;
	color:#fff;
}