
body{
    background: #ebebeb;
    margin-bottom: 40px;
}
/* 签锟斤拷锟斤拷锟斤拷Start */
.signInWarp{
    position: relative;
    margin: 10px;
    padding: 7px 15px 15px 10px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 4px solid #26a69e;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

}
.signInWarp:first-of-type{
    border-top: 1px solid #aeaeae;
}
.signInWarp header{
    margin-bottom:10px;
    padding-bottom:8px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
    text-align:center;
    border-bottom:dashed 1px #ddd;
    word-break: break-all;
}
.signInWarp .signInTime{
    font-size: 14px;
    color: #787878;
    line-height: 22px;
}
.signInWarp .signInTime em{
	margin-right:5px;
	display:inline-block;
	width:16px;
	height:16px;
	border-radius:50%;
	background:#D7CCAD;
	color:#fff;
	font-size:12px;
	line-height:16px;
	text-align:center;
	font-style:normal
}
.signInWarp .signInTime em:nth-of-type(odd){
	background:#26a69a;
}
.signInWarp i{
    position: absolute;
    right: 15px;
    color: #777;
    font-size: 24px;
    bottom:23px
}
.signInWarp .signInTime i{
	position:static;
	font-size:12px;
	color:#fff;
}
/* 签锟斤拷锟斤拷锟斤拷End */

/* 没锟斤拷签锟斤拷锟斤拷锟斤拷Start */
.noSignIn{
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #787878;
}
/* 没锟斤拷签锟斤拷锟斤拷锟斤拷End */
/* 鐗堟潈鎵�湁 */
/*body > div[class*="arp"]{
    margin-bottom: 40px;
}*/
footer.copyright{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    background: #ebebeb;
    z-index: 5000;
}
