.warpInfo{
    margin-bottom: 92px !important;
}
a.valueSortList{
    display: block;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #aeaeae;
    text-align: center;
    font-size: 16px;
}
.editValueSort{
    position: relative;
    padding: 7px 15px 7px 10px;
    border-bottom: 1px solid #aeaeae;
    line-height: 36px;
    font-size: 16px;
    background: #fff;
    /*text-align: center;*/
    display: box;
    display: -webkit-box;
    cursor: pointer;
}
.editValueSort>div:first-child{
    box-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
}
.editValueSort>div:nth-child(2){
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.editValueSort b{
    /*position: absolute;*/
    font-size: 19px;

    /*right: 15px;
    top: 15px;*/
}
.addBtn{
    position: fixed;
    bottom: 40px;
    width: 100%;
    padding: 10px 10px 0;
    box-sizing: border-box;
    margin: 0;
    background: #ebebeb;
}

.addModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 5800;
}
.addModal .formList:first-child{
    border-top: 0px;
}
.modalShell {
    width: 76%;
    border-radius: 8px;
    background: #ebebeb;

}
.modalCon {
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.modalCon .formList{
	border-bottom: 1px solid #ccc;
}